.arrows {
	width: 90px;
	height: 74px;
	position: absolute;
	left: 50%;
	margin-left: -45px;
	bottom: 20px;
}

.arrows path {
	stroke: #9B64A5;
	fill: transparent;
	stroke-width: 2.5px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

.arrows path.a1-bg,
.arrows path.a2-bg,
.arrows path.a3-bg {
  stroke: #F07250;
  stroke-width: 4px;
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
  0% {opacity:0}
  40% {opacity:1}
	60% {stroke: white}
  80% {opacity:0;stroke: #9B64A5;}
  100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
