.navbar-default.navbar-custom {
  background: none;
  border-style: none;
  margin-bottom: 0;
}

/*@media (min-width: 768px) {
  .navbar-default.navbar-custom:not(.navbar-hide) {
    top: 0px;
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -ms-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
  }

  .navbar-default.navbar-custom.navbar-hide {
    top: -55px;
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -ms-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
  }

  .navbar-default.navbar-custom .navbar-collapse {

    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -ms-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
  }

  @media (max-width: 768px) {
    .navbar-default.navbar-custom .navbar-collapse {
      {
        padding-bottom: 5px;
      }
    }
  }

  .navbar-default.navbar-custom.navbar-hide .navbar-collapse {
    max-height: 0px;
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -ms-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
  }


}*/

.navbar-default.navbar-custom .container {
  background-color: white;
  width: 100%;
  max-width: 960px;
}

.navbar-default.navbar-custom .navbar-toggle {
  margin-right: 0;
  border-style: none;
  padding-top: 16px;
  padding-bottom: 17px;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default.navbar-custom .navbar-toggle:focus,
.navbar-default.navbar-custom .navbar-toggle:hover {
  background: none;
}

.navbar-default.navbar-custom .navbar-toggle.collapsed {
  padding-left: 36px;
  padding-right: 0;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -ms-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar-default.navbar-custom .navbar-toggle:not(.collapsed) {
  padding-left: 18px;
  padding-right: 18px;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -ms-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar-default.navbar-custom .navbar-toggle .icon-bar {
  height: 3px;
  background-color: #624a9d;
}

.navbar-default.navbar-custom .navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
 	-webkit-transform: translate(0,0) rotate(0); /* Safari */
  -moz-transform: translate(0,0) rotate(0);
  -ms-transform: translate(0,0) rotate(0); /* IE 9 */
  -o-transform: translate(0,0) rotate(0);
  transform: translate(0,0) rotate(0);
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -ms-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar-default.navbar-custom .navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
  -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -ms-transform: scale(1,1);
 	-o-transform: scale(1,1);
  transform: scale(1,1);
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -ms-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar-default.navbar-custom .navbar-toggle.collapsed .icon-bar:nth-of-type(4) {
  -webkit-transform: translate(0,0) rotate(0); /* Safari */
  -moz-transform: translate(0,0) rotate(0);
  -ms-transform: translate(0,0) rotate(0); /* IE 9 */
 	-o-transform: translate(0,0) rotate(0);
  transform: translate(0,0) rotate(0);
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -ms-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar-default.navbar-custom .navbar-toggle:not(.collapsed) .icon-bar:nth-of-type(2) {
 	-webkit-transform: translate(0,7px) rotate(45deg); /* Safari */
  -moz-transform: translate(0,7px) rotate(45deg);
  -ms-transform: translate(0,7px) rotate(45deg); /* IE 9 */
  -o-transform: translate(0,7px) rotate(45deg);
  transform: translate(0,7px) rotate(45deg);
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -ms-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar-default.navbar-custom .navbar-toggle:not(.collapsed) .icon-bar:nth-of-type(3) {
  -webkit-transform: scale(0.01,1);
  -moz-transform: scale(0.01,1);
  -ms-transform: scale(0.01,1);
 	-o-transform: scale(0.01,1);
  transform: scale(0.01,1);
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -ms-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar-default.navbar-custom .navbar-toggle:not(.collapsed) .icon-bar:nth-of-type(4) {
  -webkit-transform: translate(0,-7px) rotate(-45deg); /* Safari */
  -moz-transform: translate(0,-7px) rotate(-45deg);
  -ms-transform: translate(0,-7px) rotate(-45deg); /* IE 9 */
 	-o-transform: translate(0,-7px) rotate(-45deg);
  transform: translate(0,-7px) rotate(-45deg);
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -ms-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.navbar-default.navbar-custom .navbar-brand {
  padding-top: 9px;
}

.navbar-default.navbar-custom .navbar-brand>img {
  width: 80px;
}

.navbar-default.navbar-custom .navbar-right {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .navbar-default.navbar-custom .navbar-right {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .navbar-default.navbar-custom .navbar-nav>li:last-of-type>a.navbar-btn {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-default.navbar-custom .navbar-nav>li>a {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    border-style: solid;
    border-color: transparent;
    border-width: 0px 0px 3px 0px;
  }
  /*.navbar-nav>li>a.nav-active {*/
  .navbar-default.navbar-custom .navbar-nav>li.active>a {
    border-color: #624a9d;
  }
}

.navbar-default.navbar-custom .navbar-nav>.active>a,
.navbar-default.navbar-custom .navbar-nav>.active>a:focus,
.navbar-default.navbar-custom .navbar-nav>.active>a:hover {
    color: #624a9d;
    background-color: transparent;
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
}

@media (max-width: 768px) {
  .navbar-default.navbar-custom .navbar-nav>li:nth-of-type(odd)>a {

  }
}

.navbar-default.navbar-custom .navbar-nav>li>a.navbar-btn {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  font-family: Roboto Slab;
  border-style: solid;
  border-width: 3px;
  padding: 6px 10px;
  text-transform: uppercase;
  border-color: #f47e21;
  color: #f47e21;
  font-weight: 600;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .navbar-default.navbar-custom .navbar-nav>li>a.navbar-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .navbar-default.navbar-custom .navbar-nav>li:last-child>a.navbar-btn {
    margin-right: -6px;
  }
}

.navbar-default.navbar-custom .navbar-nav>li>a.navbar-btn:hover,
.navbar-default.navbar-custom .navbar-nav>li>a.navbar-btn:active {
  background-color: #f47e21;
  color: white;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

@media (max-width: 768px) {
  .navbar-default.navbar-custom .navbar-btn {
    display: block;
    max-width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-default.navbar-custom .navbar-nav>li>a {
  color: #9e8dca;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

/*.navbar-default.navbar-custom .navbar-nav>li>a:focus,*/
@media (min-width: 768px) {
  .navbar-default.navbar-custom .navbar-nav>li>a:hover {
    color: #624a9d;
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
  }
}

@media (max-width: 768px) {
  .navbar-default.navbar-custom .navbar-nav>li>a:hover,
  .navbar-default.navbar-custom .navbar-nav>li.active>a:hover {
    color: white;
    background-color: #624a9d;
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
  }
}

@media (max-width: 768px) {
  .navbar-default.navbar-custom .navbar-nav>li>a {
    text-align: center;
  }
}

.navbar-default.navbar-custom .navbar-right .btn:hover,
.navbar-default.navbar-custom .navbar-right .btn.btn-default:hover {

}
