
@media (min-width: 768px) {
  #jumbotron {
    -webkit-background-position: center 35%;
    -moz-background-position: center 35%;
    -o-background-position: center 35%;
    background-position: center 35%;
  }
}

@media (max-width: 768px) {
  #jumbotron {
    -webkit-background-position: center 50px;
    -moz-background-position: center 50px;
    -o-background-position: center 50px;
    background-position: center 50px;
  }
}
