*:not(.fa) {
  font-family: Roboto !important;
}

p:not(.fa) {
  font-family: Nunito !important;
}

.panel-jumbotron {
  margin-top: 91px;
  margin-bottom: 0;
  padding-bottom: 15px;
  border-radius: 0;
  border-width: 1px;
  border-color: rgba(255,255,255,0);
}

.btn,
.btn.btn-default {
  background: none;
  border-radius: 0;
  border-width: 3px;
  border-color: #333;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 700;
  margin-bottom: 0;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.btn:hover,
.btn.btn-default:hover {
  background-color: #333;
  color: white;
  font-weight: 400;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.panel-jumbotron .btn,
.panel-jumbotron .btn.btn-default {
  border-color: #624a9d;
  color: #624a9d;
}

.panel-jumbotron .btn:hover,
.panel-jumbotron .btn-default:hover {
  background-color: #624a9d;
  color: white;
}

.section-gray {background-color: #edeeef;}
.section-black {background-color: #000000;}
.section-violet {
  background-color: #564387;
  background: -webkit-linear-gradient(-45deg, #47386F, #564387, #7257B5); /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(-45deg, #47386F, #564387, #7257B5); /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(-45deg, #47386F, #564387, #7257B5); /* For Opera 11.1 to 12.0 */
  background: linear-gradient(-45deg, #47386F, #564387, #7257B5); /* Standard syntax */
 }
.section-orange {
  background: #e4752b;
  background: -webkit-linear-gradient(-45deg, #A95116, #e4752b, #FB9450); /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(-45deg, #A95116, #e4752b, #FB9450); /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(-45deg, #A95116, #e4752b, #FB9450); /* For Opera 11.1 to 12.0 */
  background: linear-gradient(-45deg, #A95116, #e4752b, #FB9450); /* Standard syntax */
 }


 .section-gray *,
 .section-gray h1,
 .section-gray h2,
 .section-gray h3,
 .section-gray h4,
 .section-gray h5,
 .section-gray h6,
 .section-gray span,
 .section-gray p { }
 .section-black *:not(small),
 .section-black h1,
 .section-black h2,
 .section-black h3,
 .section-black h4,
 .section-black h5,
 .section-black h6,
 .section-black span,
 .section-black p { color: white;}
 .section-violet *,
 .section-violet h1,
 .section-violet h2,
 .section-violet h3,
 .section-violet h4,
 .section-violet h5,
 .section-violet h6,
 .section-violet span,
 .section-violet p strong  {color: white;}
 .section-violet p,
 .section-violet h1 small,
 .section-violet h2 small,
 .section-violet h3 small,
 .section-violet h4 small,
 .section-violet h5 small,
 .section-violet h6 small {color: #9e8dca;}
 .section-orange *,
 .section-orange h1,
 .section-orange h2,
 .section-orange h3,
 .section-orange h4,
 .section-orange h5,
 .section-orange h6,
 .section-orange span,
 .section-orange p strong {color: white;}
 .section-orange p,
 .section-orange h1 small,
 .section-orange h2 small,
 .section-orange h3 small,
 .section-orange h4 small,
 .section-orange h5 small,
 .section-orange h6 small {color: #f7c19c;}

 .section-orange .btn,
 .section-orange .btn.btn-default {
   border-color: white;
   color: white;
 }
 .section-orange .btn:hover,
 .section-orange .btn.btn-default:hover {
   background-color: white;
   border-color: white;
   color: #f47e21;
 }


 .section-violet .btn,
 .section-violet .btn.btn-default {
   border-color: white;
   color: white;
 }
 .section-violet .btn:hover,
 .section-violet .btn.btn-default:hover {
   background-color: white;
   border-color: white;
   color: #624a9d;
 }

 #y66zys6m {
   cursor: default !important;
 }


 .panel-badges>.row>div:nth-of-type(odd) {
   background-color: aliceblue;
 }

 .panel-badges>.row>div:nth-of-type(even) {
   background-color: white;
 }

 #tjicy0qq {
   cursor: text !important;
   color: black !important;
   text-decoration: none !important;
 }

 footer a {
   color: white;
   text-decoration: none !important;
   -webkit-transition: 250ms ease-out;
   -moz-transition: 250ms ease-out;
   -o-transition: 250ms ease-out;
   transition: 250ms ease-out;
 }


 footer a:hover,
 footer a:active {
   color: #9e8dca;
   -webkit-transition: 250ms ease-out;
   -moz-transition: 250ms ease-out;
   -o-transition: 250ms ease-out;
   transition: 250ms ease-out;
 }


 .section-violet .bar {
   background-color: #9e8dca;
 }

 .section-orange .bar {
   background-color: #f7c19c;
 }

 .div-title-layer-1 {
   background-color: rgba(228,117,43,0.75);
 }

 #vp2gdpm6 {
   cursor: text !important;
   color: white !important;
   text-decoration: none !important;
 }

 .section-title h1 {
   color: white;
   text-shadow: 0 0 5px rgba(0,0,0,0.22);
 }

 .section-title span {
   color: whitesmoke;
 }

 .span-figure .span-number {
   font-size: 5em;
 }

 .panel-deck .btn,
 .panel-deck .btn.btn-default {
   background: none;
   border-radius: 0;
   border-width: 3px;
   border-color: #333;
   color: #333;
   text-transform: uppercase;
   letter-spacing: 0.25em;
   font-weight: 700;
   -webkit-transition: 250ms ease-out;
   -moz-transition: 250ms ease-out;
   -o-transition: 250ms ease-out;
   transition: 250ms ease-out;
 }

 .panel-country {
   border-radius: 0;
   background-color: #F47E21;
   border-style: none;
 }

 a.a-panel .panel {
   background: linear-gradient(-45deg, #e4752b, #e4752b 50%, #564387 50%);
   background-size: 100% 300%;
   background-position: center 100%;
   -webkit-transition: 500ms ease-in-out;
   -moz-transition: 500ms ease-in-out;
   -o-transition: 500ms ease-in-out;
   transition: 500ms ease-in-out;
 }

 a.a-panel:hover .panel {
   background-position: center 0%;
   -webkit-transition: 500ms ease-in-out;
   -moz-transition: 500ms ease-in-out;
   -o-transition: 500ms ease-in-out;
   transition: 500ms ease-in-out;
 }

 .panel-country .small-day,
 .panel-country .h3-country {
   color: white;
 }

 .panel-country .btn.btn-default {
   border-color: white;
   color: white;
 }

 .panel-country .btn.btn-default:hover {
   background-color: white;
   color: #564387;
   -webkit-animation-duration: 250ms ease-out;
   -moz-animation-duration: 250ms ease-out;
   -o-animation-duration: 250ms ease-out;
   animation-duration: 250ms ease-out;
 }

 
