

body {
  /*background-color: #1a133e;*/
}

/* START - Safeguard Styling */

*, small, a {
  /*color: white;*/
}

* small, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  /*color: white;*/
}

/* END - Safeguard Styling */

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  font-weight: 900;
}

*, p, span, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-family: Roboto;
}

.btn,
.btn-default,
.btn.btn-default {
  /*border-radius: 1000px;
  border-width: 3px;
  padding: 10px 18px;
  text-transform: uppercase;
  font-family: 'Gotham';
  font-weight: 600;
  padding-top: 12px;*/
}

.section-bg-image {
  background-size:cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: white;
}

.section-bg-dark {
  color: white;
}

.section-bg-dark .btn,
.section-bg-image .btn,
.section-bg-dark.section-bg-image .btn,
.section-bg-dark .btn-default,
.section-bg-image .btn-default,
.section-bg-dark.section-bg-image .btn-default,
.section-bg-dark .btn.btn-default,
.section-bg-image .btn.btn-default,
.section-bg-dark.section-bg-image .btn.btn-default {
  /*background-color: transparent;
  color: white;
  border-color: white;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;*/
}


.section-bg-dark .btn:hover,
.section-bg-image .btn:hover,
.section-bg-dark.section-bg-image .btn:hover,
.section-bg-dark .btn:focus,
.section-bg-image .btn:focus,
.section-bg-dark.section-bg-image .btn:focus,
.section-bg-dark .btn-default:hover,
.section-bg-image .btn-default:hover,
.section-bg-dark.section-bg-image .btn-default:hover,
.section-bg-dark .btn-default:focus,
.section-bg-image .btn-default:focus,
.section-bg-dark.section-bg-image .btn-default:focus,
.section-bg-dark .btn.btn-default:hover,
.section-bg-image .btn.btn-default:hover,
.section-bg-dark.section-bg-image .btn.btn-default:hover,
.section-bg-dark .btn.btn-default:focus,
.section-bg-image .btn.btn-default:focus,
.section-bg-dark.section-bg-image .btn.btn-default:focus {
  /*background-color: white;
  color: #130f2a;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;*/
}
/* TITLE PANEL */

#section-home-header h1 {
  margin-top: 15px;
}

#section-home-header h1 span:nth-of-type(2) {
  background-color: white;
  /*color: #777777;*/
  color: #5d319c;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0px 7.5px 1px;
}

#section-home-header h1 small {
  margin-top: 15px;
  font-size: 0.33em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#section-home-header #img-art {
  max-width: 170%;
  margin-left: -35%;
  margin-right: -35%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#section-home-header h1>span {
  /*display: block;
  font-family: Gotham;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.22);*/
}

#section-home-header h1>span:nth-of-type(1) {
  /*font-size: 2.7em;*/
}

#section-home-header h1>span:nth-of-type(2) {
  /*font-size: 2.85em;
  line-height: 0.7em;*/
}

#section-home-header h1>span:nth-of-type(3) {
  /*font-size: 3.5em;
  line-height: 1em;*/
}

@media (max-width: 767px) {
  #section-home-header h1>span:nth-of-type(1) {
    /*font-size: 1.55em;*/
  }

  #section-home-header h1>span:nth-of-type(2) {
    /*font-size: 1.6em;
    line-height: 0.7em;*/
  }

  #section-home-header h1>span:nth-of-type(3) {
    /*font-size: 2em;
    line-height: 1em;*/
  }
  #section-home-header h1>small {
    /*font-size: 0.5em;*/
  }
}

.btn.btn-default {
  border-radius: 0;
  border-style: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
  box-shadow: 5px 5px 0 #28184b;
  background-color: #5d319c;

  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;*/

}

.btn.btn-default:hover,
.btn.btn-default:focus {
  color: #5d319c;
  /*box-shadow: 5px 5px 0 #28184b;*/
  background-color: white;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;*/
}

.section-bg-image .btn.btn-default {
  color: #5d319c;
  box-shadow: 5px 5px 0 #5d319c;
  background-color: #ffffff;

  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;*/
}

.section-bg-image .btn.btn-default:hover,
.section-bg-image .btn.btn-default:focus {
  color: white;
  box-shadow: 5px 5px 0 #28184b;
  background-color: #5d319c;

  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;*/
}

.btn.btn-default.btn-y4it {
  font-size: 0.75em;
  box-shadow: 5px 5px 0 #e87f31;
  color: #e87f31;

  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;*/
}

.btn.btn-default.btn-y4it:focus,
.btn.btn-default.btn-y4it:hover {
  color: white;
  box-shadow: 5px 5px 0 #7d4516;
  background-color: #e87f31;

  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;*/
}

/* COUNTDOWN */

#section-countdown {
  /*background-color: #1a133e;*/
}

/* DETAILS */

#section-details {
  min-height: 480px;
  background-position-y:top
}

#section-details #span-venue {
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 3.4px;
}

#section-details #span-venue strong {
  background-color: white;
  padding: 4px 8px;
  font-size: 2.67em;
  color: #5d319c;
  text-transform: initial;
  letter-spacing: 0;
}

#section-details #span-venue~p:first-of-type {
  margin-top: 10px;
}

#section-details #span-venue~p {
  margin-bottom: 0;
}

/* SPEAKERS */

#section-speakers {
  /*background-color: #29234b;*/
}

.img-grayscale {
  /*filter: grayscale(100%);*/
}

.img-speaker {
  /*filter: grayscale(0%);
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;*/
}

.img-speaker.img-grayscale {
  /*filter: grayscale(100%);
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;*/
}

.panel-data {
  /*height: 100px;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;*/
}

.panel-data.panel-hidden-height {
  /*height: 0px;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;*/
}

#section-speakers .div-speaker-text {
  display: inline-block;
  width: calc(100% - 100px);
  margin-left: 15px;
  vertical-align: text-top;
}


/* TALKS + PASSES */

#section-talks-passes {
  background-color: #ececec;
}

/* TALKS */

#section-talks {

}

#section-talks h1 {
  
}

#section-talks h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 3.4px;
}

#section-talks h2 strong {
  background-color: #5d319c;
  color: white;
  padding: 4px 8px;
  display: table;
  text-transform: initial;
  font-size: 2.67em;
  letter-spacing: 0;
  font-weight: bold;
  margin-top: 5px;
}

#section-talks h3 {

}

#section-talks h3+span {

}

/* PASSES */

#section-passes .panel {
  border-radius: 0;
  border-width: 0 0 0 7.5px;
  padding: 0.5px 0px 7.5px 15px;
  box-shadow: none;
}

#section-passes .panel-pass {
  border-color: #e87f31;
  background-color: white;
}

#section-passes .panel-pass.panel-pass-half {
  border-color: #5d319c;
}

/* FAQ */

#section-faq {
  /*background-color: #29234b;*/
}

/* TERMS */

#section-terms {
  /*background-color: #1a133e;*/
}

/* ABOUT */

#section-organizer {
  /*background-color: rgba(238, 238, 238, 0.07);*/
  background-color: #29234b;
}

#section-organizer p {
  font-size: 0.75em;
}

#section-organizer p:last-of-type {
  font-size: 0.75em;
  margin-bottom: 0;
}