.km-header {
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.km-navbar {
  background-color: black;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.km-navbar-header {
  display: block;
}

.km-navbar-header button, .km-navbar-header a {
  display: inline-block;
}

.km-navbar-header a {
  padding: 3px 15px;
  margin-left: -15px;
  font-weight: 900;
  font-size: 2.5em;
}

.km-navbar-collapse {
  display: block;
  margin-top: -36px;
  margin-bottom: 0;
}

.km-navbar-right {
  text-align: right;
  list-style: none;
}

.km-navbar-right li, .km-navbar-right a {
  display: inline-block;
}

.km-navbar-right {
  margin-bottom: 0;
}
