.km-header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.km-header.km-header-hide {
  top: -55px;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.km-navbar {
  background-color: white;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.km-navbar-header {
  display: inline-block;
  /*float: left;*/
  width: 80px;
}

.km-navbar-header button, .km-navbar-header a {
  display: inline-block;
}

.km-navbar-header a {
  padding: 5px 15px 0 15px;
  margin-left: -15px;
  font-weight: 900;
  font-size: 2.5em;
}

.km-navbar-header img {
  width: 80px;
  margin-top: -15px;
}

.km-navbar-collapse {
  display: inline-block;
  float: right;
  /*margin-top: -36px;
  margin-bottom: 0;*/
}

.km-navbar-right {
  text-align: right;
  list-style: none;
  padding: 0;
}

.km-navbar-right>a,
.km-navbar-right>a.btn,
.km-navbar-right>a.btn.btn-default {
  display: inline-block;
  margin-left: 15px;
  margin-top: 6px;
  margin-bottom: 8px;
  border-color: #624a9d;
  color: #624a9d;
}


.km-navbar-right>a:hover,
.km-navbar-right>a.btn:hover,
.km-navbar-right>a.btn.btn-default:hover {
  font-weight: 700;
  border-color: #624a9d;
  background-color: #624a9d;
  color: white;
}


.km-navbar-right li, .km-navbar-right li a {
  display: inline-block;
  margin: 0;
}

.km-navbar-right li {

}

.km-navbar-right li a {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 17px;
  padding-bottom: 18px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-style: solid;
  border-color: #624a9d;
  color: #f47e21;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.km-navbar-right li a.km-navbar-tab-active {
  padding-bottom: 15px;
  border-bottom-width: 3px;
}

.km-navbar-right {
  margin-bottom: 0;
}
