/* General Classes and Settings */

.row-limit {
  max-width: 960px;
  margin: auto;
}

@media(max-width: 768px) {
  .btn-block,
  .btn-block-xs {
    display: block;
    width: 100%;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-color-1 {
  background-color: #f5f5f5;
}

.section-color-2 {
  background-color: #e4e4e4;
}

.section-default {
  padding-top: 85px;
  padding-bottom: 85px;
}
.section-default.section-withlink
{
  padding-bottom: 0;
}
@media(max-width: 960px) {
  .section-default {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section-default h1.h1-title {
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  margin-top: 45px;
  margin-bottom: 45px;
}

.section-default h2.h2-title {
  text-align: center;
}


.section-default h1:empty {
  line-height: 1em;
}
.section-default h2 {
  margin-top: 0;
  line-height: 0.75em;
}
.section-default h2 small {
  line-height: calc((1em * 3) / 4);
  font-size: 0.40em;
}
.section-default>div>div:first-of-type>div:first-of-type>h1:first-child {
  margin-top: 25px;
  margin-bottom: 45px;
}
.section-default h1 small {
  text-transform: none;
  font-size: 0.55em;
  line-height: calc((1em * 3) / 4);
}


/* Jumbotron */

/* Jumbotron Panel */

.panel-jumbotron {
  margin-top: 91px;
  margin-bottom: 0;
  /*padding-bottom: 15px;*/

}

.panel-jumbotron .panel-heading,
.panel-jumbotron .panel-body,
.panel-jumbotron .panel-footer {
  padding-top: 0;
  padding-bottom: 0;
}

.panel-jumbotron .panel-heading {
  padding-top: 1px;
}

.panel-jumbotron .panel-jumbotron-logo {
  width: 100%;
  max-width: 180px;
  margin-top: -91px;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.panel-jumbotron .panel-title {
  font-size: 2.1em;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.panel-jumbotron .panel-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.panel-jumbotron .panel-body span {
  margin-bottom: 0;
  display: block;
  text-align: center;
}

.panel-jumbotron .panel-footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.panel-jumbotron .panel-footer .btn,
.panel-jumbotron .panel-footer .btn.btn-default {

}

.km-jumbotron-margin-top {
  /*height: calc(((100vh - 425px) / 2));*/
  height: calc(((100vh - 450px) / 2));
  min-height: 80px;
}

.km-jumbotron-margin-bottom {
  /*height: calc(((100vh - 425px) / 2));*/
  height: calc(((100vh - 560px) / 2));
  min-height: 0px
}

.a-arrow i {
  font-size: 2em;
  padding-bottom: 30px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .km-jumbotron-margin-top {
    height: 88vw;
    min-height: 245px;
    max-height: 660px;
  }
  .km-jumbotron-margin-bottom {
    height: 30px;
    min-height: 0;
  }
}








.img-responsive {
  width: 100%;
}

.embed-sizer {
  max-width: 640px;
  margin: auto;
}
@media (max-width: 768px) {
  .embed-sizer {
    max-width: none;
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px);
  }
}

@media (max-width: 768px) {
  .img-small-full {
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px);
    max-width: none;
  }
/*
  div.row div div.row div .img-small-full {
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px);
  }

  div.row div div.row div div.row div .img-small-full {
    margin-left: -45px;
    margin-right: -45px;
    width: calc(100% + 90px);
  }
  */
}

p {
  /*line-height: 2.25em;
  margin-bottom: 30px;*/
}

@media(max-width: 768px) {
  .center-xs {
    text-align: center;
  }
}

.section-default>.container-fluid .row:last-of-type>div:last-of-type>p:last-of-type:last-child {
  margin-bottom: 0;
}


.small-caption {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.small-caption.small-citation {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: right;
  font-style: italic;
}

.small-caption.small-citation a {
  font-weight: 100;
}

.small-caption.small-citation a:hover,
.small-caption.small-citation a:active {
}

.span-caption {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .span-caption {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .row.row-buttons>div>.btn,
  .row.row-buttons>div>.btn-default {
    margin-bottom: 15px;
  }
  .row.row-buttons>div:last-of-type>.btn,
  .row.row-buttons>div:last-of-type>.btn-default {
    margin-bottom: 0;
  }
}




/*@media (max-width: 768px) {*/
  .row-schedule>div>section {
    margin-bottom: 30px;
  }
  /*
  .row-schedule>div:last-of-type>section {
    margin-bottom: 0px;
  }
  */
/*}*/

.panel-announcement {
  padding: 18px 15px 15px 15px;
}

.panel-announcement h2 {
  line-height: 1.15em;
}

.panel-announcement p {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .panel-announcement a.btn.btn-default {
      margin-bottom: 10px;
  }
}

.panel-announcement a:not(.btn) {
  text-decoration: underline;
}

.panel-badges {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.panel-badges>.row>div {
  padding-top: 60px;
  padding-bottom: 120px;

}

@media(max-width:768px) {
  .panel-badges>.row>div {
    margin-left: -15px;
    margin-right: -15px;
    background-size: auto;
    background-size: 840px;
  }
}


.panel-badges h2 {

}

.panel-badges h2 small {

}

.panel-badges h3 {

}

.panel-badges h3 small {

}

.panel-badges span {
  font-size: 5em;
}

.panel-badges span span {
  vertical-align: super;
  font-size: 0.5em;
  font-weight: 600;
}

@media (min-width: 768px) {
  .h3-badge-exception {
    margin-top: 34px;
    margin-bottom: 22px;
  }
}

footer {

}



footer a i.fa {
  font-size: 3em;
  margin-bottom: 15px;
  margin-top: 30px;
}

footer a:not(:last-of-type) i.fa {
  margin-right: 10px;
}

footer p {
  font-size: 0.75em;
}

.page-content {
  min-height: calc(100vh - 140px);
}

.div-map-overlay {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  margin-top: -75%;
  z-index: 1;
}

@media (min-width: 1200px) {
  .div-lg-col-2 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
  }
}

.bar {
  height: 6px;
  width: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #777777;
}

p+.bar {
  margin-top: 0;
}

.bar.bar-lg-left {
  margin-right: auto;
}

.bar.bar-lg-center {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .bar.bar-xs-left {
    margin-right: auto;
    margin-left: initial;
  }
  .bar.bar-xs-center {
    margin-left: auto;
    margin-right: auto;
  }
}



.section-title {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}



.div-title-layer-2 {
  background-size: cover;
  background-position: center 50px;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 150px;
}


.section-title h1 {
  font-size: 5em;
  text-align: center;
  font-weight: 600;
}

.section

@media (max-width: 768px) {
  .section-title h1 {
    font-size: 3.5em;
  }
}

.section-title span {
  max-width: 510px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-title a.btn {
  margin-top: 15px;
}

.span-sponsor-highlight {
  font-size: 2.5em;
  font-weight: 200;
  display: inline-block;
  margin-bottom: 15px;
}

.span-sponsor-highlight .span-sponsor-highlight-small {
  font-size: 0.75em;
}

.span-figure {

}

.span-figure .span-number {
  font-size: 5em;
}

.div-mileage {
  margin-bottom: 15px;
}

.panel-deck span {

}

.panel-deck button {

}

.panel-deck .btn,
.panel-deck .btn.btn-default {
  margin-bottom: 0;
}

.panel-deck .btn:hover,
.panel-deck .btn.btn-default:hover {
  font-weight: 400;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.panel-country {
  padding: 15px;
}

@media (max-width: 768px) {
  .panel-country {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

a.a-panel,
a.a-panel:link,
a.a-panel:hover,
a.a-panel:focus {
  text-decoration: none !important;
}

.panel-country .small-day,
.panel-country .h3-country {
  text-align: center;
}

.panel-country .h3-country {

}

.panel-country .small-day {

}





.small-first {
  line-height: 2em !important;
}

.small-first:not(.small-sub) {
  /*line-height: 3em;*/
}

.small-sub {
  font-weight: 200;
}

.span-mileage {
  text-align: center;
  display: block;
}

.wow {
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
}

.production-speakers {
  display: none !important;
}

.production-badges {
  display: none !important;
}

.production-terms {
  display: none !important;
}

.production-faq {
  display: none !important;
}

.production-others {
  display: none !important;
}

.img-bubble {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.img-speaker {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.div-speaker-drilldown {
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px);
  /*background: #000;*/
}

.hidden-maxheight {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.hidden-maxheight.visible-maxheight {
  opacity: 1;
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

@media (max-width: 768px) {
  .hidden-maxheight.visible-maxheight {
    max-height: 1600px;
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
  }
}

@media (max-width: 992px) {
  .hidden-maxheight.visible-maxheight {
    max-height: 1200px;
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
  }
}

@media (min-width: 992px) {
  .hidden-maxheight.visible-maxheight {
    max-height: 900px;
    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
  }
}

.div-inclusions, .div-faqs, .div-terms {
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}

.item-inclusion, .item-faq, .item-term {
  -webkit-column-break-inside: avoid; /* Chrome, Safari */
  page-break-inside: avoid;           /* Theoretically FF 20+ */
  break-inside: avoid-column;         /* IE 11 */
}

.div-inclusions, .div-terms {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

.div-faqs {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

@media (max-width: 768px) {
  .div-inclusions, .div-faqs, .div-terms {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 992px) {
  .img-bubble {
    margin-top: 65px;
    margin-bottom: 45px;
  }
}

.floating {
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}

@media (min-width: 768px) {

}

@media (max-width: 768px) {

}
