---
layout: main
---


<section id="content" style="background-image:url('{{ site.baseurl }}/images/be-a-sponsor/photo_bg-cta.jpg');background-size:cover;background-repeat:no-repeat;">

  <section class="section-default section-violet" style="background-color:rgba(0,0,0,0.7);min-height:100vh">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <img class="img-responsive" src="{{ site.baseurl }}/images/logo-y4it-white.png" style="width:100%;max-width:200px;margin-right:auto;margin-bottom:40px;">

          <h1 style="font-family:'Roboto Slab';font-weight:900;">Well, that was fun. :D</h1>
          <p>
            {% if site.switchCert == true %}To claim your Certificate of Participation, go to <a href="{{ site.cert2016 }}">reg2016.y4it.org/certificates</a> and enter your badge number.<br/>{% endif %}
            Thank you for attending! We'll see you again next year.<br/>
            <br/>
          </p>

          <div class="flipclock"></div>

          <div class="div-savethedate">
            <span class="span-title">The 15th Youth Congress on Information Technology <br/></span>
            <span class="details">
              September 5-7, 2017 <br/>
              SMX Convention Center Manila <br/>
              Mall of Asia Complex, Pasay City <br/>
            </span>
          </div>

          <div class="div-social">
            {% include social.html %}
          </div>

        </div>
      </div>
    </div>
  </section>

</section>
