---
layout: main
home: true
navHide: jumbotron
parallax: true
parallaxLarge: /images/art-landscape-web.png
parallaxSmall: /images/art-portrait-web.png
animate: true
---

<section id="jumbotron" class="parallax-window">
  <div class="container-fluid" style="background:linear-gradient(rgba(255,255,255,0) calc(100% - 150px), rgba(255, 255, 255,0.75) 100%)">
    <div class="row row-limit">
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <div class="km-jumbotron-margin-top"></div>
        <div class="panel panel-default panel-jumbotron wow fadeInDown">
          <div class="panel-heading panel-jumbotron-heading">
            <img class="panel-jumbotron-logo" src="{{ site.baseurl }}/images/logo-y4it.png">
            <h1 class="panel-title">
              <span>14th Philippine <br class="hidden-xs"/>
                Youth Congress on <br class="hidden-xs"/>
              </span>
              Information Technology
            </h1>
          </div>
          <div class="panel-body">
            <span>
              September 27-29, 2016 <br/>
              SMX Convention Center
            </span>
          </div>
          <div class="panel-footer text-center">
            <a class="btn btn-default production-others" role="button">Download poster</a>
          </div>
        </div>
        <div class="km-jumbotron-margin-bottom"></div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class="a-arrow" href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#content">
          <svg class="arrows">
            <!--path class="a1 a1-bg" d="M0 0 L45 32 L90 0"></path>
						<path class="a2 a2-bg" d="M0 20 L45 52 L90 20"></path>
						<path class="a3 a3-bg" d="M0 40 L45 72 L90 40"></path-->
						<!--path class="a1" d="M0 0 L45 32 L90 0"></path>
						<path class="a2" d="M0 20 L45 52 L90 20"></path-->
						<path class="a3" d="M0 40 L45 72 L90 40"></path>
					</svg>
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  @media (max-width: 768px) {
    .km-jumbotron-margin-top {
      height: 88vw;
      min-height: 245px;
      max-height: 660px;
    }
    .km-jumbotron-margin-bottom {
      height: 30px;
      min-height: 0;
    }
  }
</style>

<section id="content">

  <section id="announcement" class="section-default hidden">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

        </div>
      </div>
    </div>
  </section>

  <section id="speakers" class="section-default section-gray production-speakers">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div>
                <img>
                <p>days</p>
              </div>
              <div>
                <img>
                <p>speakers</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
              <img>
              <h4>
                Name Here
                <small>Company Here</small>
              </h4>
            </div>
            <!-- Repeat 3 times? -->
          </div>
          <!-- Repeat 5 times? -->

          <div></div>

        </div>
      </div>
    </div>
  </section>

  <section id="details" class="section-default section-violet">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <img id="img-smx" class="img-responsive img-small-full wow fadeInDown" src="{{ site.baseurl }}/images/smx.jpg">
          <small class="small-caption small-citation"><a target="_blank" href="http://www.smxconventioncenter.com/manila">SMX Convention Center</a></small>
          <style>
            @media (max-width:768px) {
              #img-smx {
                margin-top: -50px;
              }
            }
          </style>
          <h1>Event Details</h1>

          <div class="row">
            <div class="col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-12 col-xs-12">
              <div class="embed-sizer">
                <div id="map" class="embed-responsive embed-responsive-4by3">
                  <div class="div-map-overlay" onClick="style.pointerEvents='none'"></div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16049.023489840933!2d120.98115258483915!3d14.53198344958815!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf52fb438feb5a6c!2sSMX+Convention+Center!5e0!3m2!1sen!2sph!4v1457683347486" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <span class="span-caption">
                  <strong>SMX Convention Center</strong> <br/>
                  Mall of Asia Complex, Pasay City
                </span>
              </div>
            </div>

            <div class="col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-12 col-xs-12">
              <div class="row row-schedule">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <section>
                    <h2>Sep 27 <br/>
                      <small>Day 1, Tuesday</small>
                    </h2>
                    <section class="production-speakers">
                      <section>
                        <h3>AM Session</h3>
                        <ol class="list-unstyled">
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                        </ol>
                      </section>
                      <section>
                        <h3>PM Session</h3>
                        <ol class="list-unstyled">
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                        </ol>
                      </section>
                    </section>

                    <div class="bar bar-lg-left"></div>

                  </section>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <section>
                    <h2>Sep 28 <br/>
                      <small>Day 2, Wednesday</small>
                    </h2>
                    <section class="production-speakers">
                      <section>
                        <h3>AM Session</h3>
                        <ol class="list-unstyled">
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                        </ol>
                      </section>
                      <section>
                        <h3>PM Session</h3>
                        <ol class="list-unstyled">
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                        </ol>
                      </section>
                    </section>

                    <a class id="y66zys6m"  target="_blank" href="{{ site.baseurl }}/lgknq2mt.png"><div class="bar bar-lg-left"></div></a>

                  </section>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <section>
                    <h2>Sep 29 <br/>
                      <small>Day 3, Thursday</small>
                    </h2>
                    <section class="production-speakers">
                      <section>
                        <h3>AM Session</h3>
                        <ol class="list-unstyled">
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                        </ol>
                      </section>
                      <section>
                        <h3>PM Session</h3>
                        <ol class="list-unstyled">
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                          <li>Lorem Ipsum</li>
                        </ol>
                      </section>
                    </section>

                    <div class="bar bar-lg-left"></div>

                  </section>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <span style="display:block;margin-bottom:30px;">
                    <strong>Badge claiming starts at 7am</strong> <br/>
                    Gates open at 7am <br/>
                    Event proper: 9am - 4pm || Break: 12nn - 1pm <br/>
                  </span>
                  <a class="btn btn-default btn-block-xs" role="button" href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#badges">Get badges</a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="about" class="section-default section-gray">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <img class="img-responsive wow fadeInDown" src="{{ site.baseurl }}/images/logo-y4it.png" style="width:100%;max-width:300px;margin:auto;margin-bottom:40px;">
          <p style="max-width:480px;margin-left:auto;margin-right:auto;text-align:center;">Established in 2003, the Youth Congress on Information Technology
            (formerly known as the Philippine Youth Congress on Information
            Technology) — commonly known as Y4iT — is an annual information
            technology event in the Philippines, organized by the UP System
            Information Technology Foundation (UPSITF).</p>
          <p style="max-width:480px;margin-left:auto;margin-right:auto;text-align:center;">Aimed primarily at college students, professionals, educators, IT
            experts and enthusiasts, Y4iT is an enabling event for today’s youth
            and aspires to recognize young Filipinos as key drivers in the
            dynamic IT industry. Since its launching, Y4iT has gone on to be at
            the forefront of information technology gathering events in the
            Philippines. Various relevant and exciting IT topics are presented
            and discussed. The event is co-organized by the Y4iT Volunteer Corps
            (YVC).</p>

          <div class="bar bar-lg-center"></div>

          <!-- Embed YouTube player here -->
          <div class="embed-sizer" style="margin-top:40px;">
            <div class="embed-responsive embed-responsive-16by9">
              <!--iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/PWVx1pfzAZw" frameborder="0" allowfullscreen></iframe-->
              <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="/ilove.Y4iT/videos/vb.80717011915/10153329369461916/?type=3"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ilove.Y4iT/videos/10153329369461916/"><a href="https://www.facebook.com/ilove.Y4iT/videos/10153329369461916/">Gear Up for Y4iT 2016!</a><p>We are officially inviting everyone to be part of the biggest IT event in the Philippines! Join Y4iT on September 27 to 29 at the SMX Convention Center!</p>Posted by <a href="https://www.facebook.com/ilove.Y4iT/">Youth Congress on Information Technology - y4it</a> on Sunday, March 20, 2016</blockquote></div></div>
            </div>
            <small class="small-caption">Y4iT 2015 Video Montage</small>
          </div>


        </div>
      </div>
    </div>
  </section>

  <section id="badges" class="section-default section-orange">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1>
            Congress Badges<br/>
            <small>Per Day</small>
          </h1>

          <div class="panel panel-default panel-badges">
            <div class="row">
              <div class="col-lg-12 text-center wow fadeInDown" style="background-image:url('{{ site.baseurl }}/images/panel-badges-bg-01.png')">
                <h2>Early Bird Rate<br/>
                  <small>Dates TBA</small>
                </h2>
                <span><span>P</span>600</span>
              </div>
              <div class="col-lg-12 text-center wow fadeInDown" style="background-image:url('{{ site.baseurl }}/images/panel-badges-bg-02.png')">
                <h2>Regular Rate<br/>
                  <small>Dates TBA</small>
                </h2>
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h3 class="h3-badge-exception">Individual</h3>
                        <span><span>P</span>700</span>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h3>
                          Small Group<br/>
                          <small><a name id="tjicy0qq"  target="_blank" href="{{ site.baseurl }}/dgo0x37t.png">50-99 people</a></small>
                        </h3>
                        <span><span>P</span>650</span>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h3>
                          Big Group<br/>
                          <small>100 people or more</small>
                        </h3>
                        <span><span>P</span>600</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 text-center wow fadeInDown" style="background-image:url('{{ site.baseurl }}/images/panel-badges-bg-03.png')">
                <h2>Walk-In Rate<br/>
                  <small>September 27 - 29, 2016</small>
                </h2>
                <span><span>P</span>750</span>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="row row-limit">
        <div class="col-lg-12">

          <h1>Badge Inclusions</h1>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h2 class="center-xs">Admission</h2>
              <p class="center-xs">
                <strong>Entrance to the Y4iT Plenary and Exhibit Halls.</strong>
                Access to talks of IT experts and booths and activities of Y4iT
                partners.
              </p>
              <div class="bar bar-lg-left bar-xs-center"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h2 class="center-xs">Congress Kit</h2>
              <p class="center-xs">
                <strong>The official Y4iT Congress Kit.</strong>
                AM and PM snacks, souvenir program, and many more freebies!
              </p>
              <div class="bar bar-lg-left bar-xs-center"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h2 class="center-xs"><a placeholder id="vp2gdpm6" target="_blank" href="{{ site.baseurl }}/29xi6phi.png">Certificate</a></h2>
              <p class="center-xs">
                <strong>Certificate of Participation for each congress day.</strong>
                Proof of your attendance and participation in Y4iT.
              </p>
              <div class="bar bar-lg-left bar-xs-center"></div>
            </div>
          </div>

        </div>
      </div>

      <div class="row row-limit">
        <div class="col-lg-12">

          <h1>Registration</h1>

          <p class="text-center">
            <strong>COMING SOON!</strong><br/>
            We will be releasing registration and payment details here, so stay tuned!<br/>
            In the meantime, be sure to
            <a target="_blank" href="https://www.facebook.com/ilove.Y4iT/">like us on Facebook</a>
            or
            <a target="_blank" href="https://twitter.com/y4it">follow us on Twitter</a>
            /
            <a target="_blank" href="https://instagram.com/y4it">Instagram</a>
            so you can get the first scoop on our latest announcements.
          </p>

        </div>
      </div>

      <div class="row row-limit production-badges">
        <div class="col-lg-12">

          <h1>Modes of Payment</h1>

          <div class="row row-buttons">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
              <a class="btn btn-default btn-block" role="button">Bank Deposit</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
              <a class="btn btn-default btn-block" role="button">Cheque</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
              <a class="btn btn-default btn-block" role="button">Direct Purchase</a>
            </div>
          </div>


        </div>
      </div>


    </div>
  </section>

  <section id="faq" class="section-default section-violet production-faq">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1>FAQ</h1>

          <div class="row">
            <div class="col-lg-4 col-lg-push-4 col-md-4 col-md-push-4 col-sm-4 col-sm-push-4 col-xs-12">
              <p>
                <strong>How long will the program be?</strong> <br/>
                The Youth Congress on Information Technology (commonly called
                Y4iT) is an annual IT-gathering event, established in 2003 by the
                UP System IT Foundation. Recognizing young Filipinos as key
                drivers in the IT industry, it has consistently served as a
                melting pot of the best minds in the industry, as it brings IT
                leaders and experts from both the local and global arena.
              </p>

              <p>
                <strong>Lorem ipsum dolor sit amet?</strong> <br/>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.
              </p>
            </div>
            <div class="col-lg-4 col-lg-push-4 col-md-4 col-md-push-4 col-sm-4 col-sm-push-4 col-xs-12">
              <p>
                <strong>Lorem ipsum dolor sit amet?</strong> <br/>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.
              </p>

              <p>
                <strong>Lorem ipsum dolor sit amet?</strong> <br/>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.
              </p>
            </div>
            <div class="col-lg-4 col-lg-pull-8 col-md-4 col-md-pull-8 col-sm-4 col-sm-pull-8 col-xs-12">
              <img>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="sponsors" class="section-default section-gray production-others">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1>Sponsors</h1>

          <img>
          <img>
          <img>
          <img>
          <img>

        </div>
      </div>
    </div>
  </section>

  <section id="terms" class="section-default section-orange production-terms">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1>Terms &amp; Conditions</h1>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h2 class="center-xs">Refunds</h2>
              <p class="center-xs">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h2 class="center-xs">Entry</h2>
              <p class="center-xs">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h2 class="center-xs">Speakers</h2>
              <p class="center-xs">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat.</p>
            </div>
          </div>


        </div>
      </div>


    </div>
  </section>

  <section id="organizer" class="section-default section-gray">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1>The Organizer<br/>
            <small>UPSITF</small>
          </h1>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
              <img class="img-responsive wow fadeInDown" src="{{ site.baseurl }}/images/logo-sitf.png" style="max-width: 200px;margin: auto;margin-bottom: 45px;">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
              <p class="center-xs">The UP System Information Technology Foundation (UPSITF) Inc. is a
                non-government organization focused on the application of Information
                and Communication Technology for development. It partners with UP
                Information Technology Development Center in providing various
                services such as, but not limited to, Education Development, IT Human
                Capital Development, Research &amp; Development, Software Engineering,
                ICT Policy Development and Planning, and IT Project Management.</p>
              <p class="center-xs">The foundation’s flagship project Youth on Information Technology or
                (Y4iT) is an annual event organized in
                cooperation with UP Information Technology Development Center (UP
                ITDC) and Y4iT Volunteer Corps (YVC), that attracts at least 25,000
                attendees every year. Apart from staging the biggest IT event in the
                country, UPSITF also offers in information technology courses on
                current IT trends and various programming languages and software
                development projects. Course participants include fresh college
                graduates, government employees, teachers, and professionals.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>
