---
layout: main
home: true
parallax: true
parallaxLarge: /images/art-landscape-web.png
parallaxSmall: /images/art-portrait-web.png
animate: true
---

<!--section class="section-fixed hidden">
  <div style="position:fixed">
    <h1>Hello</h1>
  </div>
</section-->

<section id="jumbotron" class="parallax-window" style="">
  <style>
    @media (min-width: 768px) {
      #jumbotron {
        background-image:url('{{ site.baseurl }}/images/art-landscape-web.png')
      }
    }
    @media (max-width: 768px) {
      #jumbotron {
        background-image:url('{{ site.baseurl }}/images/art-portrait-web.png')
      }
    }
  </style>
  <div class="container-fluid" style="background:linear-gradient(rgba(255,255,255,0) calc(100% - 150px), rgba(255, 255, 255,0.75) 100%)">
    <div class="row row-limit">
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <div class="km-jumbotron-margin-top"></div>
        <div class="panel panel-default panel-jumbotron wow fadeInDown">
          <div class="panel-heading">
            <img class="panel-jumbotron-logo" src="{{ site.baseurl }}/images/logo-y4it.png">
            <h1 class="panel-title">
              <span>The 14th<br class="hidden-xs"/>
                Youth Congress on <br class="hidden-xs"/>
              </span>
              Information Technology
            </h1>
          </div>
          <div class="panel-body">
            <span>
              September 27-29, 2016 <br/>
              SMX Convention Center, Manila
            </span>
          </div>
          <div class="panel-footer text-center">
            <a target="_blank" class="btn btn-default btn-orange" href="{{ site.baseurl }}/poster-main.pdf">Download poster</a>
          </div>
        </div>
        <div class="km-jumbotron-margin-bottom"></div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <a class="a-arrow" href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#content">
          <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="content">

  {% if site.switchAnnouncement == true %}
  <section id="announcement" class="section-default section-color-1 section-orange">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-4 col-lg-push-8 col-md-push-8 col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
          <img class="img-responsive img-bubble wow fadeInDown floating" src="{{ site.baseurl }}/images/art-bubble.png" style="">
        </div>
        <div class="col-lg-8 col-lg-pull-4 col-lg-offset-0 col-md-8 col-md-offset-0 col-md-pull-4 col-sm-8 col-sm-offset-2 col-sm-pull-0 col-xs-12 col-xs-pull-0 col-xs-offset-0">
          <h1 class="h1-title">Announcement</h1>

          {% include panel-announcement.html %}

        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if site.switchSpeakers == true %}
  <section id="speakers" class="section-default section-gray">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title">
            Speakers
          </h1>
          <span class="span-copy">Imagine, innovate and be inspired by this year's lineup of masters from the IT industry</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h1 class="h1-title hidden">Speakers</h1>
          {% if site.switchSpeakersHeader == true %}
          <div class="row row-limit">
            <div class="col-lg-12">
              <div>
                <img>
                <p>days</p>
              </div>
              <div>
                <img>
                <p>speakers</p>
              </div>
            </div>
          </div>
          {% endif %}

          <div class="row row-limit">
            {% assign last4s = 0 %}
            {% assign last3s = 0 %}
            {% for eachspeaker in site.speakers %}

            {% include item-speaker.html %}

            {% assign checker4 = forloop.index | modulo: 4 %}
            {% if checker4 == 0 %}
            {% assign last4s = last4s | plus: 1 %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md hidden-sm hidden-xs div-speaker-drilldown-multi">
              <div id="speakerdrilldown-4s-{% if last4s < 10 %}{{ "0" }}{% endif %}{{ last4s }}" class="speakerdrilldown-4s hidden-maxheight">
                {% include content-lightbox.html %}
              </div>
            </div>
            {% endif %}

            {% assign checker3 = forloop.index | modulo: 3 %}
            {% if checker3 == 0 %}
            {% assign last3s = last3s | plus: 1 %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-lg hidden-md visible-sm hidden-xs div-speaker-drilldown-multi">
              <div id="speakerdrilldown-3s-{% if last3s < 10 %}{{ "0" }}{% endif %}{{ last3s }}" class="speakerdrilldown-3s hidden-maxheight">
                {% include content-lightbox.html %}
              </div>
            </div>
            {% endif %}

            {% endfor %}

            {% if checker4 == 0 %}{{ "" }}{% else %}
            {% assign last4s = last4s | plus: 1 %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md hidden-sm hidden-xs div-speaker-drilldown-multi">
              <div id="speakerdrilldown-4s-{% if last4s < 10 %}{{ "0" }}{% endif %}{{ last4s }}" class="speakerdrilldown-4s hidden-maxheight">
                {% include content-lightbox.html %}
              </div>
            </div>
            {% endif %}
            {% if checker3 == 0 %}{{ "" }}{% else %}
            {% assign last3s = last3s | plus: 1 %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-lg hidden-md visible-sm hidden-xs div-speaker-drilldown-multi">
              <div id="speakerdrilldown-3s-{% if last3s < 10 %}{{ "0" }}{% endif %}{{ last3s }}" class="speakerdrilldown-3s hidden-maxheight">
                {% include content-lightbox.html %}
              </div>
            </div>

            {% endif %}

          </div>


          <div></div>

        </div>
        <div class="col-lg-12">
          <span class="span-copy" style="margin-top:30px">...and many more coming up!</span>
        </div>
      </div>

    </div>
    <style>
      .div-lightbox {
        background-image: url('{{ site.baseurl }}/images/bg-lightbox.jpg');
      }
    </style>
  </section>
  {% endif %}

  <section id="details" class="section-default section-violet">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <img id="img-smx" class="img-responsive img-small-full wow fadeInDown" src="{{ site.baseurl }}/images/smx.jpg">
          <small class="small-caption small-citation"><a target="_blank" href="http://www.smxconventioncenter.com/manila">SMX Convention Center</a></small>
          <style>
            @media (max-width:768px) {
              #img-smx {
                margin-top: -50px;
              }
            }
          </style>
          <h1 class="h1-title hidden">Event Details</h1>

          <div class="row">
            {% if site.switchSchedule == "lean" %}
            <div class="{% if site.switchSchedule == "lean" %}col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-push-6 col-md-push-6 col-sm-push-0 col-xs-push-0{% endif %}">
              <div class="row">
                <div class="{% if site.switchSchedule == "lean" %}col-lg-12{% endif %}">
                  <div class="embed-sizer">
                    <div id="map" class="embed-responsive embed-responsive-4by3">
                      <div class="div-map-overlay" onClick="style.pointerEvents='none'"></div>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16049.023489840933!2d120.98115258483915!3d14.53198344958815!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf52fb438feb5a6c!2sSMX+Convention+Center!5e0!3m2!1sen!2sph!4v1457683347486" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <span class="span-caption">
                      <strong>SMX Convention Center</strong> <br/>
                      Mall of Asia Complex, Pasay City
                    </span>
                  </div>
                </div>
              </div>
              <div class="row hidden-sm hidden-xs">
                <div class="{% if site.switchSchedule == "lean" %}col-lg-12{% endif %}">
                  <span style="display:block;margin-bottom:30px;">
                    <strong>Badge claiming starts at 7am</strong> <br/>
                    Gates open at 7am <br/>
                    Event proper: 9am - 4pm || Break: 12nn - 1pm <br/>
                  </span>
                  <a class="btn btn-default btn-block-xs btn-white-on-violet" role="button" href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#badges">Get badges</a>
                  <a class="btn btn-default btn-block-xs btn-orange" role="button" href="http://reg2016.y4it.org" target="_blank">Register</a>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="{% if site.switchSchedule == "lean" %}col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6{% elsif site.switchSchedule == "leanfull" %}col-lg-12 col-md-12{% endif %} col-sm-12 col-xs-12">
              <div class="row row-schedule">
                {% for eachschedule in site.schedules %}
                {% assign firstdate = 27 %}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="item-day">
                    <h2>Sep {{ firstdate | plus: forloop.index0 }} <br/>
                      <small>
                        Day {{ forloop.index }},
                        {% if forloop.index == 1 %}{{ "Tuesday" }}
                        {% elsif forloop.index == 2 %}{{ "Wednesday" }}
                        {% elsif forloop.index == 3 %}{{ "Thursday" }}
                        {% endif %}
                      </small>
                    </h2>

                    {% if eachschedule.morning or eachschedule.afternoon %}
                    <!--section{% if forloop.first == false %} class="production-speakers"{% endif %}-->
                    <section>
                      {% if eachschedule.morning %}
                      <section>
                        <h3>AM Session</h3>
                        <ol class="list-unstyled list-schedule">
                          {% for eachtalk in eachschedule.morning %}
                          {% include item-talk-lean.html %}
                          {% endfor %}
                        </ol>
                      </section>
                      {% endif %}

                      {% if eachschedule.afternoon %}
                      <section>
                        <h3>PM Session</h3>
                        <ol class="list-unstyled list-schedule">
                          {% for eachtalk in eachschedule.afternoon %}
                          {% include item-talk-lean.html %}
                          {% endfor %}
                        </ol>
                      </section>
                      {% endif %}

                    </section>
                    {% endif %}

                    {% if forloop.index == 2 %}
                    <a class="" id="y66zys6m" target="_blank" href="http://y4it.org/lgknq2mt.png">
                      <div class="bar bar-lg-left"></div>
                    </a>
                    {% else %}
                    <div class="bar bar-lg-left"></div>
                    {% endif %}

                  </div>
                </div>
                {% endfor %}

              </div>
              <div class="row{% if site.switchSchedule == "lean" %} hidden-lg hidden-md{% endif %}">
                {% if site.switchSchedule == "leanfull" %}
                <div class="{% if site.switchSchedule == "leanfull" %}col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12 col-xs-push-0{% endif %}">
                  <div class="embed-sizer">
                    <div id="map" class="embed-responsive embed-responsive-4by3">
                      <div class="div-map-overlay" onClick="style.pointerEvents='none'"></div>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d16049.023489840933!2d120.98115258483915!3d14.53198344958815!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcf52fb438feb5a6c!2sSMX+Convention+Center!5e0!3m2!1sen!2sph!4v1457683347486" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <span class="span-caption">
                      <strong>SMX Convention Center</strong> <br/>
                      Mall of Asia Complex, Pasay City
                    </span>
                  </div>
                </div>
                {% endif %}
                <div class="{% if site.switchSchedule == "lean" %}col-lg-12{% elsif site.switchSchedule == "leanfull" %}col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12 col-xs-pull-0{% endif %}">
                  <span style="display:block;margin-bottom:30px;">
                    <strong>Badge claiming starts at 7am</strong> <br/>
                    Gates open at 7am <br/>
                    Event proper: 9am - 4pm || Break: 12nn - 1pm <br/>
                  </span>
                  <a class="btn btn-default btn-block-xs btn-white-on-violet" role="button" href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#badges">Get badges</a>
                  <a class="btn btn-default btn-block-xs btn-orange" role="button" href="http://reg2016.y4it.org" target="_blank">Register</a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  {% if site.switchParallel == true %}
  <section id="parallel" class="section-default section-dark">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title">
            <small>The Y4iT<br/></small>
            Parallel Sessions
          </h1>
          <img>
          <span>Lorem ipsum dolor sit amet!</span>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="row row-limit row-parallel">

        {% for eachparallel in site.parallels %}
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="item-day-parallel">
            <h2>Day {{ forloop.index }}</h2>
            <img>
            <h3>Session Title</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <img class="img-responsive img-circle img-speaker" src="{{ site.baseurl }}/images/filler-300x300.jpg" style="">
            <span>Juan Cruz</span><br/>
            <span>Title, Company</span><br/>
            <span>Social</span>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>
  {% endif %}

  <section id="about" class="section-default section-color-1 section-gray">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1 class="h1-title hidden">About the Event</h1>

          <img class="img-responsive wow fadeInDown" src="{{ site.baseurl }}/images/logo-y4it-wordmark.png" style="width:100%;max-width:300px;margin:auto;margin-bottom:40px;">
          <p style="max-width:480px;margin-left:auto;margin-right:auto;text-align:center;">
            Established in 2003, the Youth Congress on Information Technology
            — commonly known as Y4iT — is an annual information
            technology event in the Philippines.
          </p>
          <p style="max-width:480px;margin-left:auto;margin-right:auto;text-align:center;">
            Aimed primarily at college students, professionals, educators, IT
            experts and enthusiasts, Y4iT is an enabling event for today’s youth
            and aspires to recognize young Filipinos as key drivers in the
            dynamic IT industry. Since its launching, Y4iT has gone on to be at
            the forefront of information technology gathering events in the
            Philippines.
          </p>

          <div class="bar bar-lg-center"></div>

          <!-- Embed YouTube player here -->
          <div class="embed-sizer" style="margin-top:40px;">
            <div class="embed-responsive embed-responsive-16by9">
              <!--iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/PWVx1pfzAZw" frameborder="0" allowfullscreen></iframe-->
              <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="/ilove.Y4iT/videos/vb.80717011915/10153329369461916/?type=3"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ilove.Y4iT/videos/10153329369461916/"><a href="https://www.facebook.com/ilove.Y4iT/videos/10153329369461916/">Gear Up for Y4iT 2016!</a><p>We are officially inviting everyone to be part of the biggest IT event in the Philippines! Join Y4iT on September 27 to 29 at the SMX Convention Center!</p>Posted by <a href="https://www.facebook.com/ilove.Y4iT/">Youth Congress on Information Technology - y4it</a> on Sunday, March 20, 2016</blockquote></div></div>
            </div>
            <small class="small-caption">Y4iT 2015 Video Montage</small>
          </div>


        </div>
      </div>
    </div>
  </section>

  <section id="badges" class="section-default section-color-2 section-orange">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1 class="h1-title">
            Congress Badges
            <small class="section-subtitle">Per Day</small>
          </h1>

        <!--/div>
      </div>

      <div class="row row-limit">
        <div class="col-lg-12"-->

          <div class="panel panel-default panel-badges wow fadeInDown" style="background-image:url('{{ site.baseurl }}/images/panel-badges-bg-01.png')">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2>Early Bird Rate
                  <small>until August 15, 2016</small>
                </h2>
                <span class="span-price"><span>&#8369;</span>600</span>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-badges wow fadeInDown" style="background-image:url('{{ site.baseurl }}/images/panel-badges-bg-02.png')">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2>Regular Rate
                  <small>August 16 to September 26, 2016</small>
                </h2>
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h3 class="h3-badge-exception">Individual</h3>
                        <span class="span-price"><span>&#8369;</span>700</span>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h3>
                          Small Group<br/>
                          <small><a name id="tjicy0qq"  target="_blank" href="{{ site.baseurl }}/dgo0x37t.png">50-99 people</a></small>
                        </h3>
                        <span class="span-price"><span>&#8369;</span>650</span>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h3>
                          Big Group<br/>
                          <small>100 people or more</small>
                        </h3>
                        <span class="span-price"><span>&#8369;</span>600</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default panel-badges wow fadeInDown" style="background-image:url('{{ site.baseurl }}/images/panel-badges-bg-03.png')">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2>Walk-In Rate
                  <small>September 27 to 29, 2016</small>
                </h2>
                <span class="span-price"><span>&#8369;</span>750</span>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="row row-limit">
        <div class="col-lg-12">

          <h1 class="h1-title">Badge Inclusions</h1>
          <div class="div-inclusions">

            {% for eachinclusion in site.inclusions %}
            <div class="item-inclusion">

              {% if forloop.rindex == 1 %}
              <h2 class="center-xs"><a placeholder="" id="vp2gdpm6" target="_blank" href="http://y4it.org/29xi6phi.png">Certificate</a></h2>
              {% else %}
              <h2 class="center-xs">{{ eachinclusion.name }}</h2>
              {% endif %}

              <p class="center-xs">
                {% for eachbullet in eachinclusion.description %}
                {% if eachbullet == "<strong>" %}{% assign laststate = eachbullet %}<strong>
                {% elsif eachbullet == "</>" and laststate %}{% if laststate == "<strong>" %}</strong>{% endif %}
                {% else %}{{ " " }}{{ eachbullet }}
                {% endif %}
                {% endfor %}
              </p>
              <div class="bar bar-lg-left bar-xs-center"></div>
            </div>
            {% endfor %}

          </div>

        </div>
      </div>

      <div class="row row-limit">
        <div class="col-lg-12">

          <h1 class="h1-title">Registration</h1>

          <p class="text-center">
            <a id="btn-register" class="btn btn-default btn-block-xs btn-lg btn-white-on-orange" role="button" href="http://reg2016.y4it.org" target="_blank">Register <br class="visible-xs"/>and Get <br class="visible-xs"/>Badges</a><br/>
            We will be releasing payment details here, so watch this space!<br/>
            In the meantime, be sure to
            <a target="_blank" href="https://www.facebook.com/ilove.Y4iT/">like us on Facebook</a>
            or
            <a target="_blank" href="https://twitter.com/y4it">follow us on Twitter</a>
            and
            <a target="_blank" href="https://instagram.com/y4it">Instagram</a>
            so you can get the first scoop on our latest announcements.
          </p>

        </div>
      </div>

      {% if site.switchPayment == true %}
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1 class="h1-title">Modes of Payment</h1>

          <div class="row row-buttons">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
              <a class="btn btn-default btn-block" role="button">Bank Deposit</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
              <a class="btn btn-default btn-block" role="button">Cheque</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
              <a class="btn btn-default btn-block" role="button">Direct Purchase</a>
            </div>
          </div>

        </div>
      </div>
      {% endif %}


    </div>
  </section>

  {% if site.switchFAQ == true %}
  <section id="faq" class="section-default section-color-1 section-violet">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1 class="h1-title">
            FAQ
            <small>Frequently Asked Questions</small>
          </h1>

          <div class="row">
            <div class="col-lg-8 col-lg-push-4 col-md-8 col-md-push-4 col-sm-8 col-sm-push-4 col-xs-12">
              <div class="div-faqs">

                {% for eachfaq in site.faqs %}
                <div class="item-faq">
                  <p>
                    <strong>{{ eachfaq.question }}</strong> <br/>
                    {{ eachfaq.answer }}
                  </p>
                  <div class="bar bar-lg-left"></div>
                </div>
                {% endfor %}

              </div>
            </div>

            <div class="col-lg-4 col-lg-pull-8 col-md-4 col-md-pull-8 col-sm-4 col-sm-pull-8 col-xs-12">
              <img class="img-responsive img-bubble wow fadeInDown floating" src="{{ site.baseurl }}/images/art-bubble.png" style="">
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if site.switchPartners == true %}
  <section id="partners" class="section-default section-white">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1 class="h1-title">Partners</h1>

          <h2 class="h2-title">Sponsors</h2>

          <div class="div-partners" style="text-align:center;">
            {% for eachsponsor in site.sponsors %}
            <img alt="{{ eachsponsor.name }}" src="{{ site.baseurl }}/images/partners/{{ eachsponsor.logo }}">
            {% endfor %}
          </div>

          <h2 class="h2-title">Media Partners</h2>

          <div class="div-partners" style="text-align:center;">
            {% for eachmedia in site.media %}
            <img alt="{{ eachsponsor.name }}" src="{{ site.baseurl }}/images/partners/{{ eachmedia.logo }}">
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if site.switchTerms == true %}
  <section id="terms" class="section-default section-color-1 section-orange">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1 class="h1-title">Terms &amp; Conditions</h1>
          <div class="div-terms">

            {% for eachterm in site.terms %}
            <div class="item-term">
              <!--h2 class="center-xs">{{ eachterm.name }}</h2-->
              <p class="center-xs">{{ eachterm.description }}</p>
            </div>
            {% endfor %}

          </div>

        </div>
      </div>


    </div>
  </section>
  {% endif %}

  <section id="organizer" class="section-default section-color-2 section-gray">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
          <img id="logo-sitf" class="img-responsive wow fadeInDown" src="{{ site.baseurl }}/images/logo-sitf.png">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 div-organizer">
          <h1 class="h1-title h1-title-left-sm h1-title-small">The Organizer</h1>
          {% for eachdescription in site.organizerDescription %}
          <p class="center-xs">{{ eachdescription }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

</section>
