<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <a target="_blank" href="http://y4it.org/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.facebook.com/ilove.Y4iT/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a target="_blank" href="https://twitter.com/y4it"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.instagram.com/y4it/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.youtube.com/user/iloveY4iT"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        <a target="_blank" href="https://www.snapchat.com/add/y4it"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
        <br/>
        <p>&copy; 2016 University of the Philippines System Information Technology Foundation, Inc. All the contents on this site are protected by copyright law.</p>
      </div>
    </div>
  </div>
</footer>
