<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/smoothscroll.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/js/flipclock.min.js"></script>
<script>
  var date = new Date(2017, 8, 5);
  var now = new Date();
  var diff = (date.getTime()/1000) - (now.getTime()/1000);

  var clock = $('.flipclock').FlipClock(diff,{
      clockFace: 'DailyCounter',
      countdown: true
  });
</script>

{% if page.animate and page.animate == true %}
<script src="{{ site.baseurl }}/js/wow.min.js"></script>
<script>new WOW().init();</script>
{% endif %}

{% if page.slick and page.slick == true %}
<script type="text/javascript" src="{{ site.baseurl }}/js/slick.min.js"></script>
<!--script>alert('{{ page.title }}')</script-->
{% if page.title == 'Be a Sponsor' %}
<script>
  $(document).ready(function(){
    $('.slick-about').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 3000,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
    });

    $('.slick-lounge').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 3000,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
    });
  });
</script>
{% endif %}
{% endif %}

{% if site.switchSpeakersDescription and site.switchSpeakersDescription == true %}
<script type="text/javascript">
  var current = "";

  $(document).ready(function(){
    $('.a-speaker-toggle').click(function(){
      if (current === $(this).attr('id')) {
        $('.img-speaker').addClass('img-grayscale'); // grayscale all img-speaker
        $('.panel-data').addClass('panel-hidden-height'); // hide all panel-data
        current = "";
      }
      else {
        $('.img-speaker').addClass('img-grayscale'); // grayscale all img-speaker
        $('.panel-data').addClass('panel-hidden-height'); // hide all panel-data
        $(this).children('img').first().removeClass('img-grayscale');
        $(this).parent().nextAll('.visible-lg.visible-md').first().children().first().removeClass('panel-hidden-height');
        $(this).parent().nextAll('.visible-sm').first().children().first().removeClass('panel-hidden-height');
        $(this).next().removeClass('panel-hidden-height');
        current = $(this).attr('id');
      }
    });
  });
</script>
{% endif %}