<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/smoothscroll.js"></script>

<script type="text/javascript" src="{{ site.baseurl }}/js/flipclock.min.js"></script>
<script>
  var date = new Date(2017, 8, 5);
  var now = new Date();
  var diff = (date.getTime()/1000) - (now.getTime()/1000);

  var clock = $('.flipclock').FlipClock(diff,{
      clockFace: 'DailyCounter',
      countdown: true
  });
</script>

{% if page.animate %}
<script src="{{ site.baseurl }}/js/wow.min.js"></script>
<script>new WOW().init();</script>
{% endif %}

{% if page.slick == true %}
<script type="text/javascript" src="{{ site.baseurl }}/js/slick.min.js"></script>
<!--script>alert('{{ page.title }}')</script-->
{% if page.title == 'Be a Sponsor' %}
<script>
  $(document).ready(function(){
    $('.slick-about').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 3000,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
    });

    $('.slick-lounge').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: false,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 3000,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
    });
  });
</script>
{% endif %}
{% endif %}
