<header class="km-header {% if page.title %}{{ ' static ' }}{% else %}{{ ' ' }}{% endif %}">

  <nav class="km-navbar">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="km-navbar-header">
        <button type="button" class="km-navbar-toggle visible-xs">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="km-navbar-brand" style="font-weight:900">Y4iT</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="km-navbar-collapse">
        <ul class="km-navbar-right">
          <li><a>Speakers</a></li>
          <li><a>Details</a></li>
          <li><a>About</a></li>
          <li><a>FAQ</a></li>
          <li><a>Organizer</a></li>
          <a class="btn btn-default">Buy Tickets</a>
        </ul>
      </div><!-- /.navbar-collapse -->
  </nav>

</header>
