<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- SEO/OpenGraph -->
	<link rel="image_src" href="{{ site.baseurl }}/images/banner-og.jpg">
	<meta name="description" content="In the dynamic world of IT today, individuals may have the skills and potential needed, but are they confident enough to take the next step?">
	<!--link rel="canonical" href="{{ site.baseurl }}/"-->

	<meta property="og:title" content="Y4iT">
	<meta property="og:type" content="website">
	<!--meta property="og:url" content="{{ site.baseurl }}/"-->
	<meta property="og:image" content="{{ site.baseurl }}/images/banner-og.jpg">
	<meta property="og:locale" content="en_US">
	<meta property="og:description" content="In the dynamic world of IT today, individuals may have the skills and potential needed, but are they confident enough to take the next step?">
	<meta property="og:site_name" content="Y4iT">


	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/images/icons/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/images/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/images/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/images/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/images/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/images/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/images/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/images/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/images/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/images/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/images/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/icons/favicon-16x16.png">
	<link rel="manifest" href="{{ site.baseurl }}/images/icons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ site.baseurl }}/images/icons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<title>{% if page.title %}{{ page.title }}{{' | '}}{{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,900italic,900,700italic,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/arrow.css">
	{% if page.slick == true %}
	<link rel="stylesheet" href="{{ site.baseurl }}/css/slick.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/slick-theme.css">
	{% endif %}
	{% if page.animate == true %}
		<link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/animate-custom.css">
	{% endif %}
	<!--link rel="stylesheet" href="{{ site.baseurl }}/css/km-navbar.css"-->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/custom-navbar.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">

	{% include css-fonts.html %}

</head>
