<header id="navbar" class="km-header {% if page.navHide %}{{ ' km-header-hide ' }}{% endif %}">

  <nav class="km-navbar">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="km-navbar-header">
        <button type="button" class="km-navbar-toggle hidden">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="km-navbar-brand" style="font-weight:900">
          <img src="{{ site.baseurl }}/images/logo-y4it-logotype.png">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="collapse" class="km-navbar-collapse hidden-xs">
        <ul class="km-navbar-right">
          <li><a>Speakers</a></li>
          <li><a>Details</a></li>
          <li><a>About</a></li>
          <li><a>FAQ</a></li>
          <li><a>Organizer</a></li>
          <a class="btn btn-default">Get Badges</a>
        </ul>
      </div><!-- /.navbar-collapse -->
  </nav>

</header>
