<!--nav id="navbar" class="navbar navbar-default navbar-fixed-top{% if page.navHide %}{{ ' navbar-hide' }}{% endif %}"-->
<nav id ="km-navbar" class="navbar navbar-default navbar-fixed-top{% if page.navHide %}{{ ' navbar-hide' }}{% endif %}">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo-y4it-logotype.png"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        <li class="production-speakers" ><a href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#speakers">Speakers</a></li>
        <li><a class="hidden">FILLER FOR SPEAKERS</a></li>
        <li><a href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#details">Details</a></li>
        <li><a href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#about">About</a></li>
        <li class="production-faq"><a href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#faq">FAQ</a></li>
        <li><a class="hidden">FILLER FOR FAQ</a></li>
        <li><a href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#organizer">Organizer</a></li>
        <li><a class="hidden" href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#badges">Badges</a></li>
        <li class="production-terms"><a class="hidden" href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#terms">Terms</a></li>
        <li><a class="hidden">FILLER FOR TERMS</a></li>
        <li><a id="btn-badges" href="{% if page.home != true %}{{ site.baseurl }}{{ '/' }}{% endif %}#badges">Get Badges</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
