<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 div-speaker">
  <a id="speaker-{% if forloop.index < 10 %}{{ "0" }}{% endif %}{{ forloop.index }}">
    <div class="item-speaker">

      <img class="img-responsive img-circle img-speaker" src="{{ site.baseurl }}/images/speakers/{{ eachspeaker.image }}" style="">
      <h4>
        {{ eachspeaker.name }}{% if eachspeaker.special %}{% for eachspecial in eachspeaker.special %}<span class="span-special" title="{{ eachspecial.title }}" alt="{{ eachspecial.title }}">{{ eachspecial.display }}</span>{% endfor %}{% endif %}<br/>
        <small>
          {% for eachprofessional in eachspeaker.professional %}
          {{ eachprofessional.designation }} at {{ eachprofessional.company }}
          {% break %}
          {% endfor %}
        </small>
      </h4>
    </div>
  </a>
</div>
<div class="col-xs-12 hidden-lg hidden-md hidden-sm visible-xs div-speaker-drilldown">
  <div class="speakerdrilldown-1s hidden-maxheight" id="speakerdrilldown-{% if forloop.index < 10 %}{{ "0" }}{% endif %}{{ forloop.index }}">

    <div class="arrow-up arrow-up-center"></div>
    <div class="div-lightbox">
      <div class="row">
        <div class="col-lg-12">

          <h4 class="hidden-xs">
            <span class="span-speaker">{{ eachspeaker.name }}</span>
            <small class="span-company">
              {% for eachprofessional in eachspeaker.professional %}
              {{ eachprofessional.designation }} at {{ eachprofessional.company }}
              {% if forloop.last != true %}<br/>{% endif %}
              {% endfor %}

            </small>
          </h4>
          <p>
            {% for eachdescription in eachspeaker.description %}
            {{ eachdescription }}{% if forloop.last != true %}<br/><br/>{% endif %}
            {% endfor %}
          </p>

        </div>
      </div>
    </div>

  </div>
</div>
