<div class="row">
  {% for eachlocation in page.locations %}
  <div class="col-lg-4 col-md-4 col-sm-4">
    <a class="a-panel" href="{{ site.baseurl }}/microsoftph/day{{ forloop.index }}">
      <div class="panel panel-default panel-country">

          <img class="img-responsive" src="{{ site.baseurl }}/images/art-{{ eachlocation | downcase }}.png" style="max-width:200px;margin-left:auto;margin-right:auto;">
          <h3 class="h3-country">
            <small class="small-day">Day {{ forloop.index }}</small><br/>
            {{ eachlocation }}
          </h3>
          <div class="text-center">
            <span class="btn btn-default">Watch</span>
          </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
