<a href="{{  site.urlOfficial }}"><i class="fa fa-globe" aria-hidden="true"></i></a>
<a target="_blank" rel="noopener noreferrer" href="{{  site.urlFacebook }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
<a target="_blank" rel="noopener noreferrer" href="{{  site.urlTwitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a target="_blank" rel="noopener noreferrer" href="{{  site.urlInstagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
<br class="visible-xs"/>
<a target="_blank" rel="noopener noreferrer" href="{{  site.urlYouTube }}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
<a target="_blank" rel="noopener noreferrer" href="{{  site.urlSnapchat }}"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
<a target="_blank" rel="noopener noreferrer" href="{{  site.urlViber }}"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
