---
title: Be a Sponsor
layout: main
animate: true
slick: true


photosAbout:
- "photo_about-01.jpg"
- "photo_about-02.jpg"
- "photo_about-03.jpg"
- "photo_about-04.jpg"
- "photo_about-05.jpg"


photosLounge:
 - "photo_vip-01.jpg"
 - "photo_vip-02.jpg"
 - "photo_vip-03.jpg"
 - "photo_vip-04.jpg"
 - "photo_vip-05.jpg"


sponsors:
 - name: "Accenture"
   logo: "logo_past-accenture.png"
 - name: "Acer"
   logo: "logo_past-acer.png"
 - name: "Asus"
   logo: "logo_past-asus.png"
 - name: "Enchanted Kingdom"
   logo: "logo_past-ek.png"
 - name: "Intel"
   logo: "logo_past-intel.png"
 - name: "ION Management Solutions"
   logo: "logo_past-ion.png"
 - name: "Jobstreet"
   logo: "logo_sponsor-jobstreet.png"
 - name: "Legend Hotels International, Inc. - Kabayan Hotel"
   logo: "logo_past-kabayan.png"
 - name: "Microsoft Philippines"
   logo: "logo_past-microsoft.png"
 - name: "Mozilla Philippines"
   logo: "logo_past-mozilla.png"
 - name: "Oracle"
   logo: "logo_past-oracleacademy.png"
 - name: "PLDT"
   logo: "logo_past-pldt.png"
 - name: "Smart"
   logo: "logo_past-smart.png"


otherSponsors:
 - "Asia-Pacific Network Information Centre (APNIC)"
 - "British Council"
 - "Codetoki"
 - "Concentrix"
 - "Concur"
 - "Cosmic Digital Universe"
 - "Fasttrack IT Academy (FIT)"
 - "Freelancer"
 - "Fujitsu Ph"
 - "Green Advanced Tech"
 - "Huawei"
 - "Indra"
 - "Infobip"
 - "Integrated Silicon Solution, Inc. (ISSI)"
 - "ITCareer.ph"
 - "KLab Cyscorpion"
 - "LG"
 - "Microgenesis"
 - "Microsourcing"
 - "MyPhone"
 - "NEC Corporation"
 - "OLX.ph"
 - "OpenText"
 - "Quipper"
 - "Redfox"
 - "Sagesoft"
 - "Sitel"
 - "SPI Global"
 - "TaraDito"
 - "TeleTech"
 - "Universal Robina Corporation (URC)"
 - "VSPI"
 - "Voyager Innovations"


partners:
 - name: "Computing Society of the Philippines"
   logo: "logo_org-compsoc.png"
 - name: "Philippine Society of IT Educators"
   logo: "logo_org-psite.png"
 - name: "Philippine Software Industry Association"
   logo: "logo_org-psia.png"


mileages:
 - name: "Co-branding and Company Exposure"
   photo: "photo_mileage-01.jpg"
   description: "You will have the opportunity to partner with Y4iT, the biggest and most anticipated IT event in the Philippines. Be at the forefront in shaping the future of young Filipino IT talents."
 - name: "Marketing Exposure and Visibility"
   photo: "photo_mileage-02.jpg"
   description: "You will have the opportunity to introduce your brand or new product/s onsite through tarpaulins, standees, AVPs, and an option to raffle off your top of the line products! In addition, you will be featured on our online updates and other media postings for added visibility."
 - name: "Topics of Interest"
   photo: "photo_mileage-03.jpg"
   description: "The event showcases current topics in ICT such as Digital Content Strategies, Internet of Things, Web Technologies, and Cloud Computing among others."
 - name: "Sales and Exhibit Hall (3 Days)"
   photo: "photo_mileage-04.jpg"
   description: "This area could be used for conducting surveys, disseminating information, conducting campaigns, on-site hiring, product launch, product selling, and display among others."
 - name: "Business Network and Linkages"
   photo: "photo_mileage-05.jpg"
   description: "The event boasts of its established connections with the academe, government and private sectors as well as a pool of readily employable IT graduates, professionals and enthusiasts."
 - name: "Recruitment Opportunities"
   photo: "photo_mileage-06.jpg"
   description: "Over 25,000 graduating students, fresh graduates and young professionals, all from the field of Information Technology, will be attending the 3-day event."
 - name: "Quality of Audience"
   photo: "photo_mileage-07.jpg"
   description: "Y4iT is well-attended by university students in the field of Information Technology and Computer Science, educators of IT, IT professionals and enthusiasts, and IT organizations and societies from different regions of the Philippines."
 - name: "Exclusive Media Exposure"
   photo: "photo_mileage-08.jpg"
   description: "By becoming a Y4iT partner, your company’s name and logo will be included in all printed and online collaterals."
 - name: "Speaking Opportunity"
   photo: "photo_mileage-09.jpg"
   description: "A speaking slot is awarded to your company (for a specific sponsorship package) that allows you to share the technology and promote your company to a huge congregation of IT enthusiasts.  Get the edge to promote your new campaigns, products, and market your company for hiring opportunities."

---

<section class="section-title section-orange section-bg-photo" style="background-image:url('{{ site.baseurl }}/images/be-a-sponsor/photo_bg-title.jpg');">
  <div class="div-title-layer-1" style="">
    <div class="div-title-layer-2" style="background-image:url('{{ site.baseurl }}/images/art-buildings-line-trans.png');">
      <div class="container-fluid">
        <div class="row row-limit">
          <div class="col-lg-12">
            <h1>Become a sponsor!</h1>
            <span>
              Y4iT offers different sponsorship mileages designed to help meet your various objectives and targets.
              Collaborate with us to craft the perfect sponsorship for your company.
            </span>
            <div id="btn-group" class="text-center">
              <a href="http://y4it.org/y4it2016-deck.pdf" class="btn btn-default btn-white-on-orange">Download <br class="visible-xs"/>Sponsorship <br class="visible-xs"/>Deck</a><br class="visible-sm visible-xs"/>
              <a href="http://y4it.org/y4it2016-sponsorshippackage.pdf" class="btn btn-default btn-white-on-orange">Download <br class="visible-xs"/>Sponsorship <br class="visible-xs"/>Package</a><br/>
              <a href="http://y4it.org/isupporty4it" class="btn btn-default btn-lg btn-white-on-orange">Become a <br class="visible-xs"/>sponsor now!</a>
            </div>
            <style>
              @media (min-width: 992px) {
                #btn-group .btn:nth-of-type(1) {
                  margin-right: 7.5px;
                }
                #btn-group .btn:nth-of-type(2) {
                  margin-left: 7.5px;
                }
              }
            </style>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-content">

  <section class="section-default section-gray">
    <div class="container-fluid">

      <!--div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title">
            About the Conference
          </h1>
        </div>
      </div-->

      <div class="row row-limit">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="slick-about">
            {% for eachphoto in page.photosAbout %}
            <div class="slick-about-panel">
              <img class="img-responsive" src="{{ site.baseurl }}/images/be-a-sponsor/{{ eachphoto }}">
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <span class="span-sponsor-highlight">
            The<br class="hidden-xs"/>
            <span class="span-sponsor-highlight-em">largest IT conference</span><br class="hidden-xs"/>
            in the country
          </span>
          <p>
            It’s a competition out there, and if you’re looking to make your brand stand out,
            we have different sponsorship mileages designed to meet your various
            objectives and targets, including high profile branding, recruitment,
            networking, and thought leadership.
          </p>
          <div class="bar bar-lg-left"></div>
        </div>
      </div>

      <!--div class="row row-limit">
        <div class="col-lg-12 div-lg-col-2">
          <p>

          </p>
        </div>
      </div-->

    </div>
  </section>

  <section class="section-default section-violet">
    <div class="container-fluid">

      <div class="row row-limit">
        <div class="col-lg-12">
          <h1 class="h1-title">
            Y4iT in Numbers
          </h1>
        </div>
      </div>

      <div class="row row-limit">
        <div class="col-lg-12">
          <img class="img-responsive wow fadeInDown" src="{{ site.baseurl }}/images/art_doc-pool.png" style="margin-left:auto;margin-right:auto;margin-bottom:30px;max-width:640px;">
        </div>

        <div class="col-lg-12">
          <h2 class="h2-title-minor">
            Participants
            <small style="margin-top:10px;">Students, Faculty, IT Professionals</small>
          </h2>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h3>Day 1</h3>
              <span class="span-figure">
                <span class="span-number" id="span-number-participants-1">8000</span>
                eyeball
              </span>
              <div class="bar bar-lg-left"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h3>Day 2</h3>
              <span class="span-figure">
                <span class="span-number" id="span-number-participants-2">7500</span>
                eyeball
              </span>
              <div class="bar bar-lg-left"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <h3>Day 3</h3>
              <span class="span-figure">
                <span class="span-number" id="span-number-participants-3">7750</span>
                eyeball
              </span>
              <div class="bar bar-lg-left"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="panel panel-default panel-figure wow fadeInDown">
                <img class="img-responsive" src="{{ site.baseurl }}/images/art_doc-figure-01.png">
                <p>Average participants for the past three years is around 23,000 student, faculty, and young professionals. With 2012 having the largest attendees at 28,000~.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="panel panel-default panel-figure wow fadeInDown">
                <img class="img-responsive" src="{{ site.baseurl }}/images/art_doc-figure-02.png">
                <p>Y4iT is attended by IT students, faculty, professionals, and enthusiasts <span>nationwide</span>.</p>
                <ul>
                  <li>96% from Luzon</li>
                  <li>3% from Visayas</li>
                  <li>1% from Mindanao</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="panel panel-default panel-figure wow fadeInDown">
                <img class="img-responsive" src="{{ site.baseurl }}/images/art_doc-figure-03.png">
                <p>Average number of participants for the past three years is around 23,000 student, faculty, and young professionals. With 2012 having the largest attendees at 28,000~.</p>
                <ul>
                  <li>6.25% - First year</li>
                  <li>7.66% - Second year</li>
                  <li>34.53% - Third year</li>
                  <li>49.30% - Fourth year</li>
                  <li>2.26% - Others</li>
                </ul>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-12">
          <h2 class="h2-title-minor" style="margin-bottom:20px;">
            <small style="line-height:3em;">Prestigious Roster of</small>
            IT Experts &amp; Decision Makers
          </h2>

          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <span class="span-figure">
                <span class="span-number" id="span-number-experts-1">21</span>
                International Experts
              </span>
              <div class="bar bar-lg-left"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <span class="span-figure">
                <span class="span-number" id="span-number-experts-2">25</span>
                Students, Faculty, IT Professionals
              </span>
              <div class="bar bar-lg-left"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <span class="span-figure">
                <span class="span-number" id="span-number-experts-3">116</span>
                Philippines' Top Local Experts
              </span>
              <div class="bar bar-lg-left"></div>
            </div>
          </div>

        </div>


      </div>
      <div class="row row-limit">

        <div class="col-lg-12">
          <h1 class="h1-title">VIP Networking Lounge</h1>
        </div>

        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="slick-lounge">
                {% for eachphoto in page.photosLounge %}
                <div class="slick-lounge-panel">
                  <img class="img-responsive" src="{{ site.baseurl }}/images/be-a-sponsor/{{ eachphoto }}">
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <span class="span-sponsor-highlight">
                Around<br class="hidden-xs"/>
                <span class="span-sponsor-highlight-em">20 movers and shakers</span><br class="hidden-xs"/>
                from the IT industry
              </span>
              <p>
                The Y4iT VIP Networking Lounge is an exclusive space for our prestigious subject
                matter experts and ICT decision makers and shakers. This space provides an area
                for the VIPs to relax, watch the plenary events, or network. Complimentary food,
                beverages, and internet access are included.
              </p>
              <div class="bar bar-lg-left"></div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <section class="section-default section-white">
    <div class="container-fluid">
      <div class="row row-limit">

        <div class="col-lg-12">
          <h1 class="h1-title">
            Biggest Sponsors<br/>
            <small>Through the Years</small>
          </h1>

          <div class="div-partners div-partners-small" style="text-align:center;">
            {% for eachsponsor in page.sponsors %}
            <img alt="{{ eachsponsor.name }}" class="wow fadeInDown" src="{{ site.baseurl }}/images/partners/{{ eachsponsor.logo }}">
            {% endfor %}
          </div>

          <ul class="ul-partners">
            {% for eachsponsor in page.otherSponsors %}
            <li>{{ eachsponsor }}</li>
            {% endfor %}
          </ul>

        </div>

        <div class="col-lg-12">
          <h1 class="h1-title">
            Partner Organizations<br/>
          </h1>

          <div class="div-partners div-partners-small" style="text-align:center;">
            {% for eachpartner in page.partners %}
            <img  class="wow fadeInDown" alt="{{ eachpartner.name }}" src="{{ site.baseurl }}/images/partners/{{ eachpartner.logo }}">
            {% endfor %}
          </div>

        </div>

      </div>
    </div>
  </section>

  <section class="section-default section-orange">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <span class="span-copy span-copy-above-title">Become a sponsor
            and take advantage of the following</span>

          <h1 class="h1-title">
            Mileages
          </h1>

          <div class="row">
            <div class="col-lg-12">
              <p style="margin-bottom:30px;">Work with Y4iT to create the most effective sponsorship package customized to
                meet your objectives and target reach. These packages allow you to engage with
                attendees through innovative and experiential packages designed to fit your
                brand. Should you have ideas for a disruptive sponsorship opportunity or have run
                successful BTL efforts you wish to achieve in Y4iT, please do contact our Marketing
                Team to discuss the implementation of your strats.</p>
            </div>
            <div class="col-lg-12">
              {% for eachmileage in page.mileages %}
              {% assign mod = forloop.index | modulo: 3 %}
              {% assign remain = forloop.rindex %}
              {% if mod == 1 %}
              <div class="row">
              {% endif %}
                <div class="col-lg-4{% if mod == 1 and remain == 2 %} col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0{% endif %} col-md-4 col-sm-4 col-xs-12">
                  <div class="div-mileage">
                    <img class="img-responsive" src="{{ site.baseurl }}/images/be-a-sponsor/{{ eachmileage.photo }}">
                    <h2>{{ eachmileage.name }}</h2>
                    <p>{{ eachmileage.description }}</p>
                  </div>
                </div>
              {% if mod == 0 %}
              </div>
              {% endif %}
              {% endfor %}
              {% if mod != 0 %}
              </div>
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default panel-doc">
                <a href="http://y4it.org/y4it2016-deck.pdf" class="btn btn-default btn-lg btn-white-on-orange">Download <br class="visible-sm visible-xs"/>Sponsorship <br class="visible-xs"/>Deck</a>
                <!--p>Lorem ipsum dolor sit amet</p-->
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="panel panel-default panel-doc">
                <a href="http://y4it.org/y4it2016-sponsorshippackage.pdf" class="btn btn-default btn-lg btn-white-on-orange">Download <br class="visible-sm visible-xs"/>Sponsorship <br class="visible-xs"/>Package</a>
                <!--p>Lorem ipsum dolor sit amet</p-->
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </section>

  <section class="section-title section-dark section-bg-photo" style="background-image:url('{{ site.baseurl }}/images/be-a-sponsor/photo_bg-cta.jpg');">
    <div class="div-cta-layer">
      <div class="container-fluid">
        <div class="row row-limit">
          <div class="col-lg-12" style="text-align:center;">
            <span class="span-copy" style="margin-bottom:45px;">
              <span class="span-copy-em">Let's be partners</span>
              in advocating information technology to the youth
            </h1>
            </span>

            <p style="margin-bottom: 45px;">
              Contact us for more details on sponsoring,
              exhibiting, and customized options that fit your
              company’s objectives and budget.
            </p>

            <a href="http://y4it.org/isupporty4it" class="btn btn-default btn-lg btn-orange">Become a <br class="visible-xs"/>sponsor now!</a>

          </div>
        </div>
      </div>
    </div>
  </section>

</section>
