---
title: Sponsors
layout: main
animate: true
slick: true

sponsors:
 - name: Smart
   file: smart.png
 - name: Accenture
   file: accenture.png
 - name: Acer
   file: acer.png
 - name: Enchanted Kingdom
   file: enchanted.png
 - name: Mozilla Philippines
   file: mozilla.png
 - name: Microsoft Philippines
   file: microsoft.png
 - name: Intel
   file: intel.png
 - name: Legend Hotels International, Inc.
   file: legendhotels.png
 - name: Jobstreet
   file: jobstreet.png

partners:
 - name: Computing Society of the Philippines
   file: compsoc.png
 - name: Philippine Society of IT Educators
   file: psite.png
 - name: Philippine Software Industry Association
   file: psia.png

mileages:
 - name: Co-branding and Company Exposure
   file: 01.png
 - name: Marketing Exposure and Visibility
   file: 02.png
 - name: Topics of Interests
   file: 03.png
 - name: Sales and Exhibit Hall (3 days)
   file: 04.png
 - name: Business Network and Linkages
   file: 05.png
 - name: Recruitment Opportunities
   file: 06.png
 - name: Quality of Audience
   file: 07.png
 - name: Exclusive Media Exposure
   file: 08.png
---

<section class="section-title section-orange" style="background-image:url('{{ site.baseurl }}/images/bg-sponsors.jpg');">
  <div class="div-title-layer-1" style="">
    <div class="div-title-layer-2" style="background-image:url('{{ site.baseurl }}/images/art-buildings-line-trans.png');">
      <div class="container-fluid">
        <div class="row row-limit">
          <div class="col-lg-12">
            <h1>Become a sponsor!</h1>
            <span>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
              nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </span>
            <div class="text-center">
              <a class="btn btn-default">Download<br class="visible-xs"/> Sponsorship<br class="visible-xs"/> Package</a><br/>
              <a class="btn btn-default">Become a<br class="visible-xs"/> sponsor now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-content">

  <section class="section-default section-gray">
    <div class="container-fluid">
      <div class="row row-limit">

        <div class="col-lg-12">
          <h1>About the Conference</h1>

          <div class="row">
            <div class="col-lg-6">
              <div class="slick-about">
                {% for i in (1..4) %}
                {% assign mod = i | modulo:2 %}
                <div class="slick-about-panel">
                  <img class="img-responsive" src="{{ site.baseurl }}/images/filler-640x480-{% if mod == 1 %}{{ '1' }}{% else %}{{ '2' }}{% endif %}.jpg">
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-6">
              <span class="span-sponsor-highlight">
                <span class="span-sponsor-highlight-small">The</span><br/>
                largest IT conference<br/>
                <span class="span-sponsor-highlight-small">in the country</span>
              </span>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              </p>
              <div class="bar bar-lg-left"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 div-lg-col-2">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                molestie consequat, vel illum dolore eu feugiat nulla facilisis at
                vero eros et accumsan et iusto odio dignissim qui blandit praesent
                luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                Nam liber tempor cum soluta nobis eleifend option congue nihil
                imperdiet doming id quod mazim placerat facer possim assum. Typi non
                habent claritatem insitam; est usus legentis in iis qui facit eorum
                claritatem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-default section-violet">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1>Y4iT in Numbers</h1>

          <div class="row">
            <div class="col-lg-12">
              <img class="img-responsive" src="{{ site.baseurl }}/images/filler-640x480-1.jpg" style="margin-left:auto;margin-right:auto;margin-bottom:30px;">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h2>
                Participants<br/>
                <small>Students, Faculty, IT Professionals</small>
              </h2>

              <div class="row">
                <div class="col-lg-4">
                  <h3>Day 1</h3>
                  <span class="span-figure">
                    <span class="span-number" id="span-number-participants-1">8000</span><br/>
                    eyeball
                  </span>
                  <div class="bar bar-lg-left"></div>
                </div>
                <div class="col-lg-4">
                  <h3>Day 2</h3>
                  <span class="span-figure">
                    <span class="span-number" id="span-number-participants-2">7500</span><br/>
                    eyeball
                  </span>
                  <div class="bar bar-lg-left"></div>
                </div>
                <div class="col-lg-4">
                  <h3>Day 3</h3>
                  <span class="span-figure">
                    <span class="span-number" id="span-number-participants-3">7750</span><br/>
                    eyeball
                  </span>
                  <div class="bar bar-lg-left"></div>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <h2>
                <small style="line-height:3em;">Prestigious Roster of</small><br/>
                IT Experts &amp; Decision Makers
              </h2>

              <div class="row">
                <div class="col-lg-4">
                  <span class="span-figure">
                    <span class="span-number" id="span-number-experts-1">21</span><br/>
                    International Experts
                  </span>
                  <div class="bar bar-lg-left"></div>
                </div>
                <div class="col-lg-4">
                  <span class="span-figure">
                    <span class="span-number" id="span-number-experts-2">25</span><br/>
                    Students, Faculty, IT Professionals
                  </span>
                  <div class="bar bar-lg-left"></div>
                </div>
                <div class="col-lg-4">
                  <span class="span-figure">
                    <span class="span-number" id="span-number-experts-3">116</span><br/>
                    Philippines' Top Local Experts
                  </span>
                  <div class="bar bar-lg-left"></div>
                </div>
              </div>

            </div>
          </div>


        </div>

        <div class="col-lg-12">
          <h1>VIP Networking Lounge</h1>

          <div class="row">
            <div class="col-lg-6">
              <div class="slick-lounge">
                {% for i in (1..4) %}
                {% assign mod = i | modulo:2 %}
                <div class="slick-lounge-panel">
                  <img class="img-responsive" src="{{ site.baseurl }}/images/filler-640x480-{% if mod == 1 %}{{ '1' }}{% else %}{{ '2' }}{% endif %}.jpg">
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-6">
              <span class="span-sponsor-highlight">
                <span class="span-sponsor-highlight-small">Around</span><br/>
                20 movers and shakers<br/>
                <span class="span-sponsor-highlight-small">from the IT industry</span>
              </span>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              </p>
              <div class="bar bar-lg-left"></div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <section class="section-default section-gray">
    <div class="container-fluid">
      <div class="row row-limit">

        <div class="col-lg-12">
          <h1>
            Biggest Sponsors<br/>
            <small>Through the Years</small>
          </h1>

          <div class="row">
            <div class="col-lg-12">
              {% for sponsor in page.sponsors %}
              {% assign mod = forloop.index | modulo: 3 %}
              {% if mod == 1 %}
              <div class="row">
              {% endif %}
                <div class="col-lg-4">
                  {{ sponsor.name }}
                  <img>
                </div>
              {% if mod == 0 %}
              </div>
              {% endif %}
              {% endfor %}
              {% if mod != 0 %}
              </div>
              {% endif %}
              <div class="bar bar-lg-center"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-12">
          <h1>
            Partner Organizations<br/>
          </h1>

          <div class="row">
            <div class="col-lg-12">
              {% for partner in page.partners %}
              {% assign mod = forloop.index | modulo: 3 %}
              {% if mod == 1 %}
              <div class="row">
              {% endif %}
                <div class="col-lg-4">
                  {{ partner.name }}
                  <img>
                </div>
              {% if mod == 0 %}
              </div>
              {% endif %}
              {% endfor %}
              {% if mod != 0 %}
              </div>
              {% endif %}
              <div class="bar bar-lg-center"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section-default section-orange">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">

          <h1>
            <small><span>Become a sponsor</span> and take advantage of the following</small><br/>
            Mileages
          </h1>

          <div class="row">
            <div class="col-lg-12">
              {% for mileage in page.mileages %}
              {% assign mod = forloop.index | modulo: 3 %}
              {% assign remain = forloop.rindex %}
              {% if mod == 1 %}
              <div class="row">
              {% endif %}
                <div class="col-lg-4{% if mod == 1 and remain == 2 %} col-lg-offset-2{% endif %}">
                  <div class="div-mileage">
                    <img class="img-responsive" src="{{ site.baseurl }}/images/filler-300x300.jpg">
                    <span class="span-mileage">{{ mileage.name }}</span>
                  </div>
                </div>
              {% if mod == 0 %}
              </div>
              {% endif %}
              {% endfor %}
              {% if mod != 0 %}
              </div>
              {% endif %}
            </div>
          </div>

          <a class="btn btn-default">Download Sponsorship Package</a>

          <span>or</span>

          <div class="panel panel-default panel-deck">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <span>Download Sponsorship Deck</span>
                </div>
                <div class="col-lg-4 col-lg-push-8">

                </div>
                <div class="col-lg-8 col-lg-pull-4">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                    diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                    aliquam erat volutpat.</p>
                  <form class="form-inline">
                    <input type="text" class="form-control" id="dl-deck-email" placeholder="example@example.com">
                    <button type="submit" class="btn btn-primary">Send</button>
                  </form>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

  <section class="section-default section-gray">
    <div class="container-fluid">
      <div class="row row-limit">
        <div class="col-lg-12">
          <h1>Let's be partners<br/>
            <small>in advocating information technology to the youth</small>
          </h1>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
            volutpat.</p>

          <span>Learn mo na?</span>
          <a class="btn btn-default">Become a sponsor now!</a>

        </div>
      </div>
    </div>
  </section>

</section>
