---
layout: main
animate: true
locations:
 - "Thailand"
 - "Indonesia"
 - "Singapore"
---

<section class="section-content">

  <section class="section-default section-black">
    <div class="container-fluid">
      <div class="row row-limit">

        <div class="col-lg-12">

          <div style="margin-top:0;margin-left:-15px;margin-right:-15px;">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="100%" src="{{ page.source }}"width="100%" height="100%" allowFullScreen frameBorder="0" style="display: block; height: 100%; width: 100%"></iframe>
            </div>
          </div>

          <h1 style="text-align:left">Satya Nadella{% if page.location %}{{ " in " }}{{ page.location }}{% endif %}</h1>

          <h2>
            {% if page.date %}{% if page.day %}{{ page.day }}{{ ", " }}{% endif %}{{ page.date }}<br/>{% endif %}
            {% if page.broadcast or page.city or page.event %}
            <small>
              {% if page.broadcast %}Broadcast timing: {{ page.date }} {{ page.broadcast }}<br/>{% endif %}
              {% if page.city %}{{ page.city }}{{ ", " }}{{ page.location }}<br/>{% endif %}
              {% if page.event %}Keynote at {{ page.location }} {{ page.event }}{% endif %}
            </small>
            {% endif %}
          </h2>

        </div>
      </div>
    </div>
  </section>

  {% include microsoftcontent.html %}

</section>
